#index-pages-stat {
	margin-top: 1em;
}
#index-pages-stat table td:nth-child(1) {
	text-align: left;
}
#index-pages-stat table td:nth-child(2), #index-pages-stat table td:nth-child(3) {
	text-align: right;
}
#index-pages-stat .new {
	color: #ba0000;
}
.index-pages-stat-avviso {
	color: red;
	font-weight: bold;
}