/*XOWA:MediaWiki:Common.css*/
/*
 * Impostazioni CSS comuni a tutti indipendentemente dalla skin
 * NOTA PER GLI ADMIN: Si prega di non modificare senza preventiva discussione!
 */

/***** [VE] */

/* Nasconde il pulsante "modifica" di VisualEditor in Sportello Informazioni */
.page-Aiuto_Sportello_informazioni #ca-ve-edit{
	display:none;
}
/* Nasconde i link "modifica" di VisualEditor nelle sezioni dello Sportello Informazioni */
.page-Aiuto_Sportello_informazioni .mw-editsection-visualeditor{
	display:none;
}
.page-Aiuto_Sportello_informazioni .mw-editsection-divider{
	display:none;
}

#interwiki-completelist {
    font-weight: bold;
}

/*
******* [[:File:Wiki.png]] anziché quello su [[:File:Wikipedia-logo-v2-it.png|commons]] + fix in attesa di [[Bugzilla:35337]]
*#p-logo a {
*                background-image: url("upload.wikimedia.org/wikipedia/it/b/bc/Wiki.png") !important;
*        }
*
*@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
*        #p-logo a {
*                background-image: url("upload.wikimedia.org/wikipedia/commons/thumb/9/90/Wikipedia-logo-v2-it.svg/204px-Wikipedia-logo-v2-it.svg.png") !important;
*                background-size: 136px auto;
*        }
*}
*@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
*        #p-logo a {
*                background-image: url("upload.wikimedia.org/wikipedia/commons/thumb/9/90/Wikipedia-logo-v2-it.svg/270px-Wikipedia-logo-v2-it.svg.png") !important;
*                background-size: 135px auto;
*        }
*}
*/

/***** Sezione immagini thumbnail */

/* Larghezza minima thumb [[Special:diff/44094478]] */
.thumbinner {
    min-width: 100px;
}

/***** caratteri per i template linguistici */
/* [[Template:IPA|IPA]], [[Template:Unicode|Unicode]], [[Template:Greco|Greco]] (polytonic) */
/* "Inherit" resetta i fonts per tutti i browser eccetto MSIE6. Il commento vuoto deve essere presente */
.IPA {
        font-family: Chrysanthi Unicode, Doulos SIL, Gentium, GentiumAlt, Code2000, TITUS Cyberbit Basic, DejaVu Sans, Bitstream Vera Sans, Bitstream Cyberbit, Arial Unicode MS, Lucida Sans Unicode, Hiragino Kaku Gothic Pro, Matrix Unicode;
        font-family /**/:inherit;
}
.Unicode {
        font-family: TITUS Cyberbit Basic, Code2000, Doulos SIL, Chrysanthi Unicode, Bitstream Cyberbit, Bitstream CyberBase, Bitstream Vera, Thryomanes, Gentium, GentiumAlt, Visual Geez Unicode, Lucida Grande, Arial Unicode MS, Microsoft Sans Serif, Lucida Sans Unicode;
        font-family /**/:inherit;
}
.polytonic {
        font-family: Athena, Gentium, Palatino Linotype, Arial Unicode MS, Lucida Sans Unicode, Lucida Grande, Code2000; 
        font-family /**/:inherit;
}

/* Stile per classi arabo, farsi e curdo usate dai relativi template */
.arabo,
.farsi,
.curdo {
   font-size:140%;
   font-family:serif;
}

/***** link con l'icona di un altoparlante usata dal [[Template:Link audio]] */

.audiolink a{
    background: url("upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/11px-Loudspeaker.svg.png") center left no-repeat !important;
    padding-left: 16px !important;
    padding-right: 0 !important;
}

/***** Coordinate geografiche (vedi [[Template:Coord]]) 

N.B. le classi "geo", "longitude" e "latitude" non sono solo stili,
ma vengono riconosciute da [[Geo (microformat)]], non eliminare o rinominare.
*/

.geo-default { display: inline; }
.geo-nondefault { display: none; }
.geo-dms { display: inline; }
.geo-dec { display: inline; }
.geo-multi-punct { display: none; }

.longitude .latitude {
white-space: nowrap;
}

.geo { }

/***** Classi per template Sinottici */

.sinottico {
    border: 1px solid #aaaaaa;
    background-color: #f9f9f9;
    padding: 0.2em;
    font-size: 95%;
    clear: right;
    width: 280px;
    float: right;
    margin: 0 0 1em .5em;
    vertical-align: top;
    line-height: 1.4em;
}

.sinottico th {
    background-color: #f2f2f2;
    padding: 0em 0.5em;
    text-align: right;
    vertical-align: top;
}

.sinottico td {
    padding: 0em 0.2em 0.2em;
    vertical-align: top;
}

.sinottico_testo_centrale {
    text-align: center;
}

.sinottico_testata th {
    font-size: 116%;
    padding: 0.2em;
    background-color: #dedede;
    text-align: center;
}

.sinottico_sottotitolo {
    font-size: 80%;
}

.sinottico_piede {
    text-align: center;
    font-size: 90%;
    background: #EFEFEF;
}

.sinottico_piede2 { /* secondo piede con i collegamenti fissi a wikidata/man */
	text-align: right;
	font-size: xx-small;
	padding-bottom: 0;
	background-color: white;
}

.sinottico_divisione th {
    padding: 0.1em;
    background-color: #eeeeee;
    text-align: center;
}

.sinottico_annidata td { /* in caso di tabella annidata in una casella, evita che le sue caselle ereditino il padding */
    padding: 0em 0em;
}

.sinottico_immagine td {
	text-align: center;
	font-size: 95%;
	padding: 0em 0.2em;
	line-height: 1.2em;
}

.sinottico ul { /* elenchi più compatti all'interno dei sinottici */
   padding: 0px;
   margin: 0 0 0 1em;
}

.sinottico caption {
	font-weight: bold;
}

/***** Riquadro semplice usato per gli avvisi agli utenti */

.messagebox {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto 1em auto;
    padding: .5em;
}

/***** Stili del template Avviso */
table.avviso {
  margin: 5px 10%;                           /* Non si sovrappone ad altri elementi */
  border-collapse: collapse; 
  background: #fbfbfb; 
  border: 1px solid #aaa; 
}
.avviso-testo {                            /* Corpo del messaggio */
  padding: 0.25em 0.5em;
  width: 100%;                             /* Rende tutti i template della stessa lunghezza nonostante il testo interno */
}
.avviso-immagine {                         /* Stile dell'immagine a sinistra */
  padding: 2px 0px 2px 0.5em;
  text-align: center; 
}
.avviso-immaginedestra {                   /* Stile dell'immagine a destra */
  padding: 2px 4px 2px 0px;
  text-align: center; 
}
table.avviso-informazioni {
  border-left: 10px solid #1e90ff;         /* Blu */
}
table.avviso-cancella,
table.avviso-importante {
  border-left: 10px solid #b22222;         /* Rosso */
}
table.avviso-contenuto {
  border-left: 10px solid #f28500;         /* Arancio */
}
table.avviso-stile {
  border-left: 10px solid #f4c430;         /* Giallo */
}
table.avviso-statico {
  border-left: 10px solid limegreen;       /* Verde */
}
table.avviso-struttura {
  border-left: 10px solid #9932cc;         /* Viola */
}
table.avviso-generico {
  border-left: 10px solid #bba;            /* Grigio */
}

/***** Stili per box utente */
/* Allineati a quelli dell'estensione Babel. Necessari per retrocompatibilità, e perché l'estensione non viene caricata se non si usa il comando #babel nella pagina */

/* equivale a mw-babel-wrapper, mw-babel-header */
.itwiki_template_babelbox {
  width:238px;
  float:right;
  clear:right;
  margin:0;
  background-color:white;
  border:1px solid #99B3FF
}
.itwiki_template_babelbox .intestazione,
.itwiki_template_babelbox th {
  text-align:center;
  font-weight:bold;
}

/* equivale a mw-babel-box, mw-babel-box-3 */
.itwiki_template_babel,
.itwiki_template_babel2 {
  float:left;
  clear:left;
  margin:1px;
  width:238px;
  background-color:#E0E8FF;
  border:1px solid #99B3FF;
  /* non presenti in mw-babel-box, ma generati in linea dall'estensione #babel */
  padding:0;
  border-spacing:0;
}
.itwiki_template_babel .sigla,
.itwiki_template_babel2 .sigla,
.itwiki_template_babel th,
.itwiki_template_babel2 th {
  width:45px;
  height:45px;
  font-size:14pt;
  font-family:monospace;
  background-color:#99B3FF;
  /* i seguenti servono per retrocompatibilità, se si usa un td con "sigla" anziché un th */
  padding:0;
  text-align:center;
  font-weight:bold;
}
.itwiki_template_babel td,
.itwiki_template_babel2 td {
  font-size:8pt;
  padding:4pt;
  line-height:1.25em
}

/***** Stili per template vari */

.itwiki_template_avviso {
  clear:both;
  text-align:left;
  background-color: #EEF8FF;
  padding-bottom: 0.5em;
}
.itwiki_template_avviso .intestazione {
  font-weight:bold;
}

.itwiki_template_toc {
    border: 1px solid #aaaaaa;
    background-color: #f9f9f9;
    padding: 0px;
    font-size: 95%;
}

/***** classi per arrotondare i bordi dei div e delle tabelle */
.radius {
    border-radius: 1em;
    -moz-border-radius: 1em;
}
.radius_top {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    -moz-border-radius-topright: 1em;
    -moz-border-radius-topleft: 1em;
}
.radius_bottom {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-bottomleft: 1em;
}
.rad {
    border-radius: .5em;
    -moz-border-radius: .5em;
}

/***** Per elementi che non vanno stampati */
@media print {
    .noprint { display: none }
}

/* Per elementi che vanno solo nella stampa.
   Funziona solo con i PDF (il PDF renderer la ignora), non con Versione stampabile */
.onlyinprint { display: none }

/*****
 Stili per i box che si visualizzano al passaggio del mouse
 Licenza: GFDL e Creative Commons Attribution 2.5
*/
.HopContent
{
 display:none;
}

.HopFrame:hover .HopContent
{
 display:block;
}

/***** Evita che i link vadano a capo */
.nowraplinks a {
    white-space: nowrap;
}

/***** Necessario per [[Template:TOClimit]] */
.toclimit-2 .toclevel-1 ul,
.toclimit-3 .toclevel-2 ul,
.toclimit-4 .toclevel-3 ul,
.toclimit-5 .toclevel-4 ul,
.toclimit-6 .toclevel-5 ul,
.toclimit-7 .toclevel-6 ul { display: none; }

/***** Hide the mobile wlm banner on the normal site (chiarire?) */
#mf-wlm-banner { display: none; }

/***** Note <references/> */

/* evidenziazione */
ol.references > li:target {
 background-color: #DEF;
}

sup.reference:target {
 background-color: #DEF;
}

/* rimpicciolimento */
ol.references {
   font-size: 90%;
}

/* colorazione della bibliografia tramite l'utilizzo del template "Cita" e simili" */
cite:target {
    background-color: #DDEEFF;
}

/* {{references}} multicolonna e {{div col}} */
.note_colonne, .colonne {
  -moz-column-width:30em;
  -webkit-column-width:30em;
  column-width:30em;
}
.note_colonne_strette, .colonne_strette {
  -moz-column-width:20em;
  -webkit-column-width:20em;
  column-width:20em;
}
/* [[Speciale:PermaLink/90830636#urlmorto=sì]] e [[Speciale:PermaLink/90830636#Fix. «Citazione» a capo]] */
.citation .cite-q {
	padding-left:1.5em;
}

/***** Imposta l'aspetto dei link mostra/nascondi
    con i div del cassetto */
div.cassetto .mw-collapsible-toggle {
    font-weight: normal;
    text-align: right;
    width: 7em;
}

/***** Mostra i tab nei codici sorgente come 4 spazi anziché 8 */
/* vedi [[Bugzilla:57824]] e [[Bugzilla:57825]] */
div.mw-geshi div,
div.mw-geshi div pre,
span.mw-geshi,
pre.source-css,
pre.source-javascript,
pre.source-lua {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

/***** evita di grassettare/ingrandire i numeri delle note quando si trovano in un titolo */
.reference {font-weight: normal; font-size: 0.7rem; font-family: sans-serif;}

/*punto esclamativo rosso per le modifiche non verificate*/
.unpatrolled{color:red; font-weight:bold;}

/* evita di andare a capo ([[Template:Tutto attaccato]] */
.nowrap {
	white-space: nowrap;
}

/**** Classe per la deprecazione del Monobook.js ****/
.monobook-deprecation {
	background-color: #ff8080;
	border: 1px solid black
}

/*XOWA:MediaWiki:Vector.css*/
/* Gli stili CSS inseriti qui si applicano agli utenti che usano la skin Vector */

/* <pre> */ 
/* CODICE ADATTATO DA en:Mediawiki:Vector.css */
 
/* The following are Vector bugfixes */
 

/* end bugfixes */
 
/* Don't display some stuff on the main page */
body.page-Pagina_principale #deleteconfirm,
body.page-Pagina_principale #t-cite,
body.page-Pagina_principale #footer-info-lastmod,
body.page-Pagina_principale #siteSub,
body.page-Pagina_principale #contentSub,
body.page-Pagina_principale h1.firstHeading {
 display: none !important;
}
 
body.page-Pagina_principale #mp-topbanner {
margin-top: 0 !important;
}

#coordinates {
 position: absolute;
 top: -1em;
 right: 0em;
 float: right;
 margin: 0.0em;
 padding: 0.0em;
 line-height: 1.5em;
 text-align: right;
 text-indent: 0;
 font-size: 85%;
 text-transform: none;
 white-space: nowrap;
}

/* Display "From Wikipedia, the free encyclopedia" */
body.ns-0 #siteSub,
body.ns-1 #siteSub {
    display: inline;
    font-size: 92%;
    font-weight: normal;
}

body.ns-0 #coordinates,
body.ns-1 #coordinates {
 top: 0em;
}

#siteNotice .notice-all {
  margin-bottom: 1em !important;
  margin-right: 2px !important;
}

/* Adjust font-size for inline HTML generated TeX formulae */
.texhtml {
  font-size: 125%;
  line-height: 1.5em;
}

/**************************************
 * Colori differenziati per namespace *
 **************************************/
 
/* siteNotice trasparente (per i namespace colorati) */
#mw-dismissable-notice {
  background-color: transparent;
}

.ns-1 #content { background-color:#ffe; }
.ns-1 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-1 div.thumb { border-color:#ffe; }
 
.ns-3 #content { background-color:#ffe; }
.ns-3 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-3 div.thumb { border-color:#ffe; }
 
.ns-4 #content { background-color:#efe; }
.ns-4 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/9/95/Vector-tab-eeffee-fade.png"); }
.ns-4 div.thumb { border-color:#efe; }
 
.ns-5 #content { background-color:#ffe; }
.ns-5 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-5 div.thumb { border-color:#ffe; }
 
.ns-6 #content { background-color:#fff; }
/* bianco, correzione non necessaria */
.ns-6 div.thumb { border-color:#fff; }
 
.ns-7 #content { background-color:#ffe; }
.ns-7 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-7 div.thumb { border-color:#ffe; }
 
.ns-8 #content { background-color:#f1f1f1; }
.ns-8 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/5/57/Vector-tab-f1f1f1-fade.png"); }
.ns-8 div.thumb { border-color:#eef; }
 
.ns-9 #content { background-color:#ffe; }
.ns-9 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-9 div.thumb { border-color:#ffe; }
 
.ns-11 #content { background-color:#ffe; }
.ns-11 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-11 div.thumb { border-color:#ffe; }
 
.ns-12 #content { background-color:#fee; }
.ns-12 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/c/c4/Vector-tab-ffeeee-fade.png"); }
.ns-12 div.thumb { border-color:#fee; }
 
.ns-13 #content { background-color:#ffe; }
.ns-13 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-13 div.thumb { border-color:#fee; }
 
.ns-15 #content { background-color:#ffe; }
.ns-15 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-15 div.thumb { border-color:#ffe; }
 
.ns-100 #content { background-color:#f0eeff; }
.ns-100 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/7/7d/Vector-tab-f0eeff-fade.png"); }
.ns-100 div.thumb { border-color:#ffe; }
 
.ns-101 #content { background-color:#ffe; }
.ns-101 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-101 div.thumb { border-color:#ffe; }
 
.ns-102 #content { background-color:#f5fafa; }
.ns-102 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/4/4e/Vector-tab-f5fafa-fade.png"); }
.ns-102 div.thumb { border-color:#ffe; }
 
.ns-103 #content { background-color:#ffe; }
.ns-103 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-103 div.thumb { border-color:#ffe; }

.ns-829 #content { background-color:#ffe; }
.ns-829 div.vectorTabs li.selected { background-image: url("upload.wikimedia.org/wikipedia/it/3/3a/Vector-tab-ffffee-fade.png"); }
.ns-829 div.thumb { border-color:#ffe; }

.suggestions { z-index: 101; }
/* </pre> */