/*XOWA:MediaWiki:Common.css*/
/*----------------------------------------------------------------------------------------------*/
/* ACHTUNG! Common.css enthält die gemeinsamen Skin-Anpassungen der deutschsprachigen Wikipedia */
/*----------------------------------------------------------------------------------------------*/

/*
 * Common.css ist in drei grundlegende Abschnitte gegliedert:
 *
 * 1. Anpassungen der Anzeige von editierbaren Seiteninhalten
 *    (a) Definitionen projektweiter Klassen und IDs
 *    (b) Fußnoten
 *    (c) HTML-Elemente
 * 2. Anpassungen der Bedienoberfläche
 *    (a) Seitenbearbeitung und Hochladen
 *    (b) Anpassungen für die Flagged-Revisions-Erweiterung
 *    (c) Unsortierte Anpassungen
 * 3. Hauptseite
 *
 * Jede Ergänzung/Änderung muss vorher jeweils für alle Skins auf Tauglichkeit
 * getestet werden, individuell per [[Special:Mypage/common.css]]! Ist hier
 * erstmal geändert, dauert es dank Cache eine Weile, bis die Änderungen bei
 * allen Nutzern sichtbar oder, bei Fehlern, korrigiert sind.
 *
 * Insbesondere innerhalb des Abschnitts 1. (a) ist die Reihenfolge der Regeln
 * wichtig, weil die dort definierten Klassen kombiniert werden können.
 */

/* +++++ 1. ANPASSUNGEN DER ANZEIGE VON EDITIERBAREN SEITENINHALTEN +++++ */

/* +++++ 1. (a) DEFINITIONEN PROJEKTWEITER KLASSEN UND IDS +++++ */

/* Personennamen in Kapitälchen */
.Person {
	font-variant: small-caps;
}

/*
 * Stylesheet-Ergänzung zu Standard-Navigationsleisten:
 * [[Hilfe:Navigationsleisten]], [[Vorlage:Navigationsleiste]]
 */
div.NavFrame {
	border: 1px solid #a2a9b1;
	clear: both;
	font-size: 95%;
	margin-top: 1.5em;
	min-height: 0; /* IE 7 */
	padding: 2px;
	text-align: center;
}
div.NavPic {
	float: left;
	padding: 2px;
}
div.NavHead {
	background: #eaecf0;
	font-weight: bold;
}
div.NavFrame:after {
	clear: both;
	content: "";
	display: block;
}

/*
 * Stylesheet für den „Ausklappen“-Button an Navigationsleisten, der in
 * [[MediaWiki:Common.js]] implementiert wird
 */
.NavToggle {
	float: right;
	font-size: x-small;
}

/* Automatisches Verschmelzen benachbarter Navigationsleisten */
div.NavFrame + div.NavFrame {
	margin-top: -1px;
}

/*
 * Verschmelzen mittels [[Vorlage:NaviBlock]]
 * Im Gegensatz zum automatischen Verschmelzen gibt es bei dieser Variante keine
 * Trennlinie zwischen den Leisten. Möglicherweise war dies ursprünglich nur ein
 * IE-6-Workaround, da das automatische Verschmelzen im IE 6 nicht funktioniert.
 */
div.BoxenVerschmelzen {
	border: 1px solid #a2a9b1;
	clear: both;
	font-size: 95%;
	margin-top: 1.5em;
	padding-top: 2px;
}
div.BoxenVerschmelzen div.NavFrame {
	border: none;
	font-size: 100%;
	margin: 0;
	padding-top: 0;
}

/*
 * VERALTET: Ehemals [[Vorlage:Prettytable]], jetzt infolge von [[rev:48842]]
 * Kopie der Klasse „wikitable“ aus mediawiki.legacy/shared.css bis auf die
 * Einfärbung der Kopfzellen.
 * Die Existenz zweier Klassennamen ist aus [[:en:MediaWiki:Common.css]] geerbt,
 * vgl. https://en.wikipedia.org/w/index.php?diff=26977467&oldid=26934973
 * und https://en.wikipedia.org/w/index.php?diff=361917988&oldid=358750840.
 * Es gab im Jahr 2007 einen Botlauf zur Umstellung der Vorlage auf CSS,
 * dokumentiert unter [[Vorlage Diskussion:Prettytable/Bugs]] (gelöscht). Dabei
 * wurde leider der „falsche“ Klassenname gewählt.
 * Da die Vorlage keine farblichen Hervorhebungen hatte, es deshalb zahlreiche
 * Einbindungen mit individuell eingefärbten Kopfzeilen gibt und die Einfärbung
 * der Kopfzellen diese verdecken würde, wurde hier auf die Einfärbung der
 * Kopfzellen verzichtet.
 */
.prettytable {
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1;
	border-collapse: collapse;
	color: black;
	margin: 1em 0;
}
table.prettytable > * > tr > th,
table.prettytable > * > tr > td {
	border: 1px solid #a2a9b1;
	padding: .2em .4em;
}
table.prettytable > * > tr > th {
	/* background-color: #eaecf0; */
	text-align: center;
}
table.prettytable > caption {
	font-weight: bold;
}

/*
 * Zebra-Tabellen. Bei Verwendung zusammen mit „rowspan“ richtet sich die Farbe
 * jeder Zelle nach der ersten Zeile, zu der die Zelle gehört.
 */
table.wikitable.zebra > tbody > :nth-child(even):not([class*="hintergrundfarbe"]) {
	background: white;
}

/*
 * Klassen für die Ausrichtung von Bausteinen, Tabellen, mit „gallery“-Tags
 * realisierten Bildergalerien und weiteren Objekten.
 * Vorsicht: Das MediaWiki-eigene CSS enthält Klassen mit den sehr ähnlichen
 * Namen „floatleft“, „floatright“ und „center“, deren Definitionen sich aber
 * von den lokalen Definitionen unterscheiden.
 * Für die Bedeutung der „noflip“-Kommentare siehe
 * [[mw:ResourceLoader/Features#Flipping]].
 */

/* @noflip */
div.float-left,
table.float-left,
ul.float-left,
.float-left {
	clear: left;
	float: left;
	margin: 1em 1em 1em 0;
}
/* @noflip */
div.float-right,
table.float-right,
ul.float-right,
.float-right {
	clear: right;
	float: right;
	margin: 1em 0 1em 1em;
}
div.centered,
table.centered,
ul.centered,
.centered {
	margin-left: auto;
	margin-right: auto;
}

/*
 * Obenbündige Textausrichtung in Tabellen. Wirkt nicht auf Kopfzellen und wurde
 * unter anderem wegen Inkonsistenzen bei sortierbaren Tabellen nicht auf
 * Kopfzellen ausgeweitet.
 */
.toptextcells > * > * > td {
	vertical-align: top;
}

/*
 * Farbdefinitionen für Rahmen und Hintergründe von Textbausteinen:
 * [[Wikipedia:Textbausteine]]; Anpassungen für andere Skins sind optional.
 * (Die Angaben der Rahmenstärke dienen der Bequemlichkeit, so dass man
 * für dünne Rahmen nur noch „border-style“ angeben muss.)
 */

/* Wie Inhaltsverzeichnis (mediawiki.skinning/content.css) */
.rahmenfarbe1 {
	border: 1px #a2a9b1;
}
/* Unauffällig, geringer Kontrast */
.rahmenfarbe2 {
	border: 1px #eaecf0;
}
/* „Rot“, auffällig */
.rahmenfarbe3 {
	border: 1px #c00000;
}
/* Neutrale Farbe, deutlich */
.rahmenfarbe4 {
	border: 1px #88a;
}
/* „Schwarz“, hoher Kontrast */
.rahmenfarbe5 {
	border: 1px #000;
}

/* Wie Inhaltsverzeichnis (mediawiki.skinning/content.css) */
table > * > tr.hintergrundfarbe1 > th,
table > * > tr > th.hintergrundfarbe1,
table.hintergrundfarbe1,
.hintergrundfarbe1 {
	background-color: #f8f9fa;
}
/* „Weiß“, für Nicht-Artikel-Seiten, neutral */
table > * > tr.hintergrundfarbe2 > th,
table > * > tr > th.hintergrundfarbe2,
table.hintergrundfarbe2,
.hintergrundfarbe2 {
	background-color: #fff;
}
/* „Gelb“, auffällig */
table > * > tr.hintergrundfarbe3 > th,
table > * > tr > th.hintergrundfarbe3,
table.hintergrundfarbe3,
.hintergrundfarbe3 {
	background-color: #ffff40;
}
/* Sehr auffällig */
table > * > tr.hintergrundfarbe4 > th,
table > * > tr > th.hintergrundfarbe4,
table.hintergrundfarbe4,
.hintergrundfarbe4 {
	background-color: #fa0;
}
/* Neutral, abgesetzt */
table > * > tr.hintergrundfarbe5 > th,
table > * > tr > th.hintergrundfarbe5,
table.hintergrundfarbe5,
.hintergrundfarbe5 {
	background-color: #eaecf0;
}
/* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
table > * > tr.hintergrundfarbe6 > th,
table > * > tr > th.hintergrundfarbe6,
table.hintergrundfarbe6,
.hintergrundfarbe6 {
	background-color: #b3b7ff;
}
/* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
table > * > tr.hintergrundfarbe7 > th,
table > * > tr > th.hintergrundfarbe7,
table.hintergrundfarbe7,
.hintergrundfarbe7 {
	background-color: #ffcbcb;
}
/* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
table > * > tr.hintergrundfarbe8 > th,
table > * > tr > th.hintergrundfarbe8,
table.hintergrundfarbe8,
.hintergrundfarbe8 {
	background-color: #ffebad;
}
/* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
table > * > tr.hintergrundfarbe9 > th,
table > * > tr > th.hintergrundfarbe9,
table.hintergrundfarbe9,
.hintergrundfarbe9 {
	background-color: #b9ffc5;
}

/*
 * Metadaten, bspw. [[Hilfe:Personendaten|Personendaten]]; vgl.
 * [[MediaWiki:Gadget-Personendaten.css]].
 * Der Klassenname „metadata“ wird in der englischen Wikipedia traditionell für
 * einen anderen Zweck verwendet, nämlich für „Elemente in Artikeln, die nicht
 * als Teil des eigentlichen Artikelinhalts angesehen werden“, aber auch nicht
 * standardmäßig ausgeblendet sind, sondern nur in „alternativen Ansichten“,
 * vgl. [[:en:Wikipedia:Catalogue of CSS classes]].
 * Das führt zu Nebenwirkungen, zum Beispiel ignoriert der MediaViewer Bilder in
 * Bereichen mit dieser Klasse, weil er davon ausgeht, dass es sich um einen
 * Wartungsbaustein mit schmückenden Icons wie [[:en:Template:Refimprove]]
 * handelt, vgl. [[phab:rEMMV21549d754747681a2b50b8763996b7abf0f4efd5]].
 */
.metadata {
	display: none;
}

/* <noscript>-Emulation, vgl. [[phab:T47731]] */
.client-js .noscript {
	display: none;
}

/*
 * Skinabhängige absolute Positionierungen ausblenden
 * Bitte [[MediaWiki Diskussion:Common.css/Archiv/1#Absolute Positionierungen]]
 * beachten
 */
#mw-content-text #coordinates,
#mw-content-text #editcount,
#mw-content-text #shortcut,
body.ns-special #mw-content-text .specialpage-helplink {
	display: none;
}

/* +++++ 1. (b) FUSSNOTEN +++++ */

/* Vererbung von Hervorhebungen auf Einzelnachweise verhindern */
sup.reference {
	font-style: normal;
	font-weight: normal;
}

/* Hochgestellte Buchstaben in der Einzelnachweiseliste kursiv setzen */
ol.references li a[href|="#cite_ref"] {
	font-style: italic;
}

/*
 * Verwendung der Schwesterprojektverweise in Einzelnachweisen:
 * [[:Kategorie:Vorlage:Schwesterprojektverweis]]
 */
ol.references li div.sisterproject {
	display: inline;
}

/* +++++ 1. (c) HTML-ELEMENTE +++++ */

/*
 * Bei URLs, die auf unser Projekt und verwandte Projekte verweisen, den Pfeil
 * ausblenden. Dieser Pfeil dient nur dazu, auf externe Ziele hinzuweisen. Auf
 * den Einsatz der Klasse „plainlinks“ kann dadurch verzichtet werden.
 * März 2016: Die hohe Selektorenspezifität ist für den Modern-Skin nötig.
 */
#mw-content-text a.external[href^="//de.wikipedia.org"],
#mw-content-text a.external[href^="http://de.wikipedia.org"],
#mw-content-text a.external[href^="https://de.wikipedia.org"],
#mw-content-text a.external[href^="//www.wikidata.org"],
#mw-content-text a.external[href^="http://www.wikidata.org"],
#mw-content-text a.external[href^="https://www.wikidata.org"],
#mw-content-text a.external[href^="//tools.wmflabs.org"],
#mw-content-text a.external[href^="http://tools.wmflabs.org"],
#mw-content-text a.external[href^="https://tools.wmflabs.org"] {
	background-image: none;
	padding-right: 0;
}

/*
 * Unterstrichelung für Abkürzungen weniger aufdringlich als vorgegeben, damit
 * die Auszeichnungen nicht wegen Aufdringlichkeit entfernt werden.
 * März 2016: Firefox >= 36 benutzt „text-decoration“, alle anderen Rendering-
 * Engines benutzen „border-bottom“, vgl. Regel in mediawiki.legacy/shared.css,
 * https://bugs.chromium.org/p/chromium/issues/detail?id=665898 sowie
 * https://bugs.webkit.org/show_bug.cgi?id=58491
 */
abbr[title]:not(:hover),
.explain[title]:not(:hover) {
	border-bottom-color: rgba(50%, 50%, 50%, .5);
	text-decoration-color: rgba(50%, 50%, 50%, .5);
}

/* +++++ 2. ANPASSUNGEN DER BEDIENOBERFLÄCHE +++++ */

/* +++++ 2. (a) SEITENBEARBEITUNG UND HOCHLADEN +++++ */

/* Für [[MediaWiki:Missingcommentheader]] */
div#mw-missingcommentheader strong {
	color: red;
}

/* Für [[MediaWiki:Missingsummary]] */
div#mw-missingsummary {
	background: #d3e1f2;
	border: 1px solid #1a47ff;
	margin: 1em auto;
	padding: 1em;
	width: 80%;
}

/*
 * Falls bei der Seitenbearbeitung vergessen wurde, die Zusammenfassung
 * auszufüllen
 */
.mw-summarymissed {
	border: 5px solid red;
	padding: 2px;
}

/* Copyrightwarnung: [[MediaWiki:Wikimedia-copyrightwarning]] */
div#editpage-copywarn {
	background: #fff;
	border: 1px solid #c00000;
	margin: 1em 0;
}

/* Warnmeldung für gesperrte Titel: [[MediaWiki:Titleprotectedwarning]] */
.mw-titleprotectedwarning {
	background: #eaecf0;
	border: 2px solid red;
	padding: 1em;
}

/*
 * Warnmeldung bei der Bearbeitung von Seiten im MediaWiki-Namensraum:
 * [[MediaWiki:Editinginterface]], [[MediaWiki:Translateinterface]]
 */
.mw-editinginterface,
.mw-translateinterface {
	background: #f8f9fa;
	border: 1px solid #c00000;
	padding: 2px;
}
.mw-editinginterface + .mw-translateinterface {
	border-top: none;
	margin-top: -8px;
}

/* Gestaltung der Edittools-Leiste: [[MediaWiki:Onlyifediting.js]] */
div#specialchars {
	background: white;
	border: 1px solid #a2a9b1;
	margin-top: 3px;
	padding: 1px;
	text-align: left;
}

/* [[Special:Upload]]: Höheres Feld für die Beschreibung */
textarea#wpUploadDescription {
	height: 20em;
}

/* +++++ 2. (b) ANPASSUNGEN FÜR DIE FLAGGED-REVISIONS-ERWEITERUNG +++++ */

/* Für den Abgleich: [[phab:diffusion/EFLR/browse/master/frontend/modules]] */

/* Flagged-Revisions-Backlog-Sitenotice */
.fr-watchlist-pending-notice {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

/* Standardmäßige Ausblendung der Flagged-Revisions-Kommentarbox */
.fr-comment-box {
	display: none;
}

/* Hintergrund des Sichten-Links auf der Beobachtungsliste entfärben */
.mw-fr-reviewlink {
	background: transparent;
}

/*
 * Ausklappbarer Teil der Flagged-Revisions-Box im Vordergrund relativ
 * positionierter Vorlagen, vor allem [[Vorlage:Positionskarte]]; an
 * #mw-fr-revisiondetails-wrapper statt div.flaggedrevs_short_details für IE 7:
 * http://web.archive.org/web/therealcrisp.xs4all.nl/meuk/IE-zindexbug.html
 */
#mw-fr-revisiondetails-wrapper {
	z-index: 1;
}

/*
 * Patrollink, Ausrufezeichen und Legendeneintrag ausblenden und Einträge auf
 * [[Spezial:Neue Seiten]] entfärben, da das Feature hier nicht genutzt wird und
 * dessen Optik zu sehr den gesichteten Versionen ähnelt; vgl. [[phab:T102818]]
 */
.patrollink,
ul.special .unpatrolled,
.mw-changeslist-legend .unpatrolled,
.mw-changeslist-legend-unpatrolled {
	display: none;
}
td.mw-enhanced-rc .unpatrolled {
	visibility: hidden;
}
.not-patrolled {
	background-color: transparent;
}

/* +++++ 2. (c) UNSORTIERTE ANPASSUNGEN +++++ */

/*
 * Rollback-Knopf auf der Beobachtungsliste ausblenden, da er dort nur von sehr
 * beschränktem Nutzen ist und zu sehr vielen Reverts aus Versehen führt
 */
.mw-special-Watchlist .mw-rollback-link {
	display: none;
}

/*
 * Verhindere, dass Infoboxen etc. in den Inhalt von Kategorien hineinragen.
 * Das betrifft nur Kategorieseiten.
 */
div.mw-category-generated {
	clear: both;
}

/* [[Special:Search]]: Suchergebnisse aus anderssprachigen Wikipedien */
.mw-search-interwiki-header {
	border-top: 3px solid #c00000;
}

/* +++++ 3. [[Wikipedia:Hauptseite|HAUPTSEITE]] +++++ */

/*
 * Überschrift, Weiterleitungshinweis, Kategorie und Schwesterprojektverweise
 * auf der Hauptseite verbergen
 * Nicht in allen Skins vollständig wirksam; vgl. [[MediaWiki:Cologneblue.css]]
 */
.action-view.page-Wikipedia_Hauptseite h1.firstHeading,
.action-view.page-Wikipedia_Hauptseite #contentSub,
.action-view.page-Wikipedia_Hauptseite #catlinks,
.page-Wikipedia_Hauptseite #p-wikibase-otherprojects { 
	display: none;
}

/* [[Wikipedia Diskussion:Meinungsbilder/Neue Hauptseite/V5-2-css]], 2006 */
#hauptseite h2 {
	background: #d8e8ff;
	border: 1px solid #8898bf;
	font-family: inherit; /* [[mw:Typography refresh]] */
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5; /* [[mw:Typography refresh]] */
	margin: 0;
	padding: .1em 0;
}
#hauptseite .inhalt {
	background: #fff;
	border: 1px solid #8898bf;
	border-top: 0;
	min-height: 0; /* IE 7 */
	padding: .3em .8em .4em;
}
#hauptseite .inhalt hr {
	background: #8898bf;
	color: #8898bf; /* IE 7 */
	height: 1px;
	margin: .5em 0;
}
#hauptseite .inhalt .mehr {
	clear: both;
	font-size: 95%;
	margin-top: .8em;
	text-align: right;
}
.hauptseite-oben,
.hauptseite-links,
.hauptseite-rechts {
	margin-bottom: 1em;
}
.hauptseite-links {
	margin-right: .5em;
}
.hauptseite-rechts {
	margin-left: .5em;
}
.hauptseite-oben h2,
.hauptseite-unten h2 {
	text-align: center;
}
.hauptseite-oben .inhalt .portale {
	font-weight: bold;
	margin: .2em 0;
}
.hauptseite-oben .inhalt .intern {
	font-size: 90%;
	text-align: center;
}
.hauptseite-links h2,
.hauptseite-rechts h2 {
	text-indent: .8em;
}
#hauptseite-schwesterprojekte .inhalt a {
	font-weight: bold;
}

/*XOWA:MediaWiki:Vector.css*/
/* CSS an dieser Stelle wirkt sich auf den Vector-Skin aus. Für allgemeingültige
   Skin-Anpassungen bitte [[MediaWiki:Common.css]] bearbeiten. */

/* +++++ Anpassungen für absolut positionierte Objekte: [[phab:T40848]] +++++ */

/*
 * Die folgenden Regeln ändern den Bezugsrahmen für absolut positionierte
 * Elemente von .mw-body-content nach .mw-body und gleichen in diesem Sinne den
 * Vector-Skin an den Monobook-Skin an, um die von dort „bewährte“ Koordinaten-
 * position über der SiteNotice zu ermöglichen.
 * Dies hat schädliche Auswirkungen, unter anderem bewirkt es, dass der Bereich
 * des Moduls „mw.notify“ für „bubbles“ viel zu weit unten angezeigt wird, vgl.
 * [[phab:diffusion/SVEC/browse/master/skinStyles/mediawiki.notification.less]]
 */
.mw-body {
	position: relative;
	z-index: 0; /* [[phab:T40848]] */
}
.mw-body-content {
	position: static;
}

/*
 * Koordinaten und diverse andere Anzeigen oben rechts, siehe
 * [[:Kategorie:Vorlage:mit Seitenindikator#Textelemente]].
 * Beachte, dass diese Elemente im Wikitext an beliebigen Stellen auftreten und
 * deshalb allerhand Eigenschaften erben können. Das gilt insbesondere für die
 * Schriftgröße.
 * Der folgende Darstellungsfehler ist bekannt: Wenn die Fensterbreite kleiner
 * als 982px ist und die Schriftgröße des Wurzelelements wie üblich 16px ist,
 * überlappen sich die 17px hohen Icons der Gadgets „WikiMiniAtlas“ und
 * „OpenStreetMap“ mit der SiteNotice.
 */
#mw-content-text #coordinates,
#mw-content-text #editcount,
#mw-content-text #shortcut,
body.ns-special #mw-content-text .specialpage-helplink {
	display: block;
	font-size: x-small;
	line-height: 1.5;
	position: absolute;
	right: 1.6em;
	text-align: right;
	text-indent: 0;
	top: .2em;
	white-space: nowrap;
}
@media screen and (min-width: 982px) {
	#mw-content-text #coordinates,
	#mw-content-text #editcount,
	#mw-content-text #shortcut,
	body.ns-special #mw-content-text .specialpage-helplink {
		right: 2.4em;
	}
}

/*        ext.inputBox.styles */
.mw-inputbox-centered{margin-left:auto;margin-right:auto;text-align:center}
.mw-inputbox-inline{display:inline}
.mw-inputbox-element{display:inline-table !important;white-space:nowrap}
.mw-inputbox-input{margin-bottom:0.5em}

/*        mediawiki.toc.styles */
.toctogglecheckbox:checked ~ ul{display:none}
@media screen{:not(:checked) > .toctogglecheckbox{display:inline !important;position:absolute;opacity:0}
.toctogglespan{font-size:94%}
:not(:checked) > .toctogglespan:before{content:' ['}
:not(:checked) > .toctogglespan:after{content:']'}
.toctogglelabel{cursor:pointer;color:#0645ad}
.toctogglelabel:hover{text-decoration:underline}
.toctogglecheckbox:focus + .toctitle .toctogglelabel{text-decoration:underline;outline:dotted 1px;outline:auto -webkit-focus-ring-color}
.toctogglecheckbox:checked + .toctitle .toctogglelabel:after{content:'Anzeigen'}
.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after{content:'Verbergen'}
.toctogglespan ~ .toctoggle{display:none}
}
@media print{.toctogglecheckbox:checked + .toctitle{display:none}
}

/* ext.3d.styles, */
.mw-3d-wrapper{display:inline-block;position:relative;overflow:hidden;vertical-align:top}
.mw-3d-wrapper:after{content:attr(data-label);position:absolute;pointer-events:none;top:11px;left:11px;color:#1e1f21;font-size:14px;line-height:19px;font-weight:bold;opacity:0.8;padding:2px 5px;background-color:#f8f9fa;border-radius:2px}
.mw-3d-thumb-placeholder{display:inline-block;text-decoration:none;color:#222}
.mw-cite-backlink,.cite-accessibility-label{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.mw-references-columns{-webkit-column-width:30em;-moz-column-width:30em;column-width:30em}
.mw-references-columns li{-webkit-column-break-inside:avoid;page-break-inside:avoid;break-inside:avoid-column}
sup.reference{unicode-bidi:-moz-isolate;unicode-bidi:-webkit-isolate;unicode-bidi:isolate;white-space:nowrap;font-weight:normal;font-style:normal;}
ol.references li:target,sup.reference:target{background-color:#eaf3ff}
.mw-ext-cite-error{font-weight:bold;unicode-bidi:embed}
.mw-cite-dir-ltr .reference-text{direction:ltr;unicode-bidi:embed}
.mw-cite-dir-rtl .reference-text{direction:rtl;unicode-bidi:embed}

/* ext.cite.styles, */
@media print{.mw-cite-backlink{display:none}
}
