/*XOWA:MediaWiki:Common.css*/
/** CSS placed here will be applied to all skins */

/*** styles and counter for mapping listings ***/
@media screen {
    .printonly { display:none !important; }
}

@media screen, print {
    span.listing-map {
        color: white;
        font-size: 0.85em;
        font-family: Arial,Verdana,sans-serif;
        padding: 0pt 0.1em 0pt 0.35em;
        -webkit-print-color-adjust: exact;  /* force printing on safari and chrome */
    }

    h2 { counter-reset: mapnumber; }
    span.listing-map:before {
        content: counter(mapnumber);
        counter-increment: mapnumber;
    }

    body { counter-reset: generalnumber; }
    span.listing-map.listing-general:before {
        content: counter(generalnumber);
        counter-increment: generalnumber;
    }
}

/* Hide sitenotice on Main Page */
body.page-Main_Page #siteNotice { 
       display:none; 
} 

/* Don't display some stuff on Main Page */
body.page-Main_Page #deleteconfirm,
body.page-Main_Page #t-cite,
body.page-Main_Page #footer-info-lastmod,
body.page-Main_Page.action-view #siteSub,
body.page-Main_Page.action-view #contentSub,
body.page-Main_Page.action-view h1.firstHeading {
    display: none !important;
}

/* Styling for Abuse Filter tags */
.mw-tag-markers {
    font-family:sans-serif;
    font-style:italic;
    font-size:90%;
}

/* Hide page title on Wikivoyage:Tourist Office */
body.page-Wikivoyage_Tourist_Office h1#firstHeading { display:none; 
}
 
#DoM {
 background: transparent;
 padding: 0;
}

/* This section supports templates for the WMC migration.
 * Sourced from http://en.wikipedia.org/wiki/MediaWiki:Common.css on 28 Oct 2012.
 * Should not need to be copied later, and can be removed after migration is complete.
 */
 
th.mbox-text,td.mbox-text{border:none;width:100%;padding:.25em .9em;}
td.mbox-image{border:none;text-align:center;padding:2px 0 2px .9em;}
td.mbox-imageright{border:none;text-align:center;padding:2px .9em 2px 0;}
td.mbox-empty-cell{border:none;width:1px;padding:0;}
table.imbox{border-collapse:collapse;border:3px solid #1e90ff;background:#fbfbfb;margin:4px 10%;}
.imbox .mbox-text .imbox{display:block;margin:0 -.5em;}
.mbox-inside .imbox{margin:4px;}
table.imbox-notice{border:3px solid #1e90ff;}
table.imbox-speedy{border:3px solid #b22222;background:#fee;}
table.imbox-delete{border:3px solid #b22222;}
table.imbox-content{border:3px solid #f28500;}
table.imbox-style{border:3px solid #f4c430;}
table.imbox-move{border:3px solid #9932cc;}
table.imbox-protection{border:3px solid #bba;}
table.imbox-license{border:3px solid #88a;background:#f7f8ff;}
table.imbox-featured{border:3px solid #cba135;}

/* Suppress numbering of items in TOC */
.tocnumber { display: none; }

/* Main page */

.portal-column-left {
width: 40%;
text-align: center;
}

/* Coding for new Main Page */

.main-page-bottom-box {
	padding: 0.7em 1em 1em 1em;
	vertical-align:top;
}

.main-page-bottom-box h3 {
	margin: 0;
	padding: 0;
}

/* Coding for new Main Page END */
/* Hide title on Main Page */
body.page-Main_Page h1.firstHeading {
  display: none;
}

/* Travellers' pub TOC, widen */
body.page-Wikivoyage_Travellers_pub div#toctitle {
  width:30em;
}

#mobileworld img {
 max-width: 100%;
 height: auto;
 width: auto\9; /* ie8 */
}

/* BEGIN: Main Page CSS */
.banner-image {
    position: relative;
    overflow: hidden;
    max-width: 1125px; 
    height: auto;
    margin-bottom: .6em;
}
.banner-image img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.banner-box-wide {
    width: 80%
}
.banner-box-left,
.banner-box-right {
	padding: 8px 7px;
	background: rgb(16,16,16);
	background: rgba(0,0,0,0.3);
	border-radius: 4px;
	width: 40%;
}
.banner-box-left {
    left: 3%;
    text-align: left;
}
.banner-box-right {
    right: 3%;
    text-align: right;
}
#mainpage-map {
	position: relative;
	overflow: hidden;
	height: auto;
	margin-bottom: .6em;
	max-width: 1125px;
}
#mainpage-maptext {
	position: absolute;
	top: 1.5em;
	left: 1em;
	z-index: 2;
	text-align: center;
	white-space: nowrap;
	padding: 0.5em 0.5em 0 0.5em;
}
#mainpage-tagline {
	margin: 0;
}
#mainpage-searchinput {
	padding:0.5em 0 0.7em;
}
#mainpage-searchinput label {
	font-size: 85%;
	font-style: italic;
}
#mainpage-searchinput input[type="text"] {
	margin-right: 0.5em;
}
#mainpage-maplinks {
	position:absolute;
	bottom: 0;
	left: 1em;
	color: white;
	padding:0 0.5em;
}
.mainpage-shadowbox {
	color: white;
	background: rgb(16,16,16);
	background: rgba(0,0,0,0.3);
	border-radius: 4px;
}
.mainpage-shadowbox h2, .mainpage-shadowbox h3 {
	color: white;
	border:none;
	font-family: sans-serif;
    line-height: 1.2em;
	margin:0;
}
.mainpage-shadowbox h2 {
	font-size: 190%;
}
.mainpage-shadowbox h3 {
	font-size: 150%;
	padding: 0;
}
#mainpage-maplinks a, .mainpage-shadowbox a {
	color: white;
	font-weight: bold;
}
.banner-box-2 {
    position: absolute;
    z-index: 2;
    margin-top: 2em;
    min-width: 20em;
}
.banner-box-2 .quote {
    font-size: 80%;
    line-height: 1.2em;
}
/* END: Main Page CSS */

/* DEMO: for Main_Page/Sandbox */
body.page-Main_Page_Sandbox #deleteconfirm,
body.page-Main_Page_Sandbox #t-cite,
body.page-Main_Page_Sandbox #footer-info-lastmod,
body.page-Main_Page_Sandbox.action-view #siteSub,
body.page-Main_Page_Sandbox.action-view #contentSub,
body.page-Main_Page_Sandbox.action-view h1.firstHeading {
    display: none !important;
}

#toc > ul {padding-left: 2em;}

/* Style for hlist class - pulled from Wikipedia's Common.css file on 20 Mar 2013
   Style for horizontal lists (separator following item).
   Note: hlist formatting will break if the resulting HTML lacks a breakable character
   between list items. This happens when the following conditions are true:
   1) The list is made using wiki markup (where HTML is built by parser.php)
   2) HTMLTidy is disabled or unavailable (such as on Special: pages)
   In such cases, building lists with .hlist using HTML instead of wiki markup
   will work around this problem. See also [[Bugzilla:39617]].
   IE8-specific classes are assigned in [[MediaWiki:Common.js/IEFixes.js]].
   Last updated: January 24, 2013
   @source mediawiki.org/wiki/Snippets/Horizontal_lists
   @maintainer: [[User:Edokter]]
   @revision: 3.1
*/
.skin-monobook .hlist dl,
.skin-modern .hlist dl,
.skin-vector .hlist dl {
    line-height: 1.1em;
}
.hlist dl,
.hlist ol,
.hlist ul {
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}
/* Display list items inline and make them nowrap */
.hlist dd,
.hlist dt,
.hlist li {
    display: inline;
    white-space: nowrap;
}
/* Allow wrapping for list items (in tight spaces) */
.hlist.hwrap dd,
.hlist.hwrap dt,
.hlist.hwrap li {
    white-space: normal;
}
/* Display nested lists inline and allow them to wrap */
.hlist dl dl, .hlist dl ol, .hlist dl ul,
.hlist ol dl, .hlist ol ol, .hlist ol ul,
.hlist ul dl, .hlist ul ol, .hlist ul ul {
    display: inline;
    white-space: normal;
}
/* Generate interpuncts */
.hlist dt:after {
    content: ":";
}
.hlist dd:after,
.hlist li:after {
    content: " ·";
    font-weight: bold;
    padding: 0 0.3em;
}
.hlist dd:last-child:after,
.hlist dt:last-child:after,
.hlist li:last-child:after {
    content: none;
}
/* For IE8 */
.hlist dd.hlist-last-child:after,
.hlist dt.hlist-last-child:after,
.hlist li.hlist-last-child:after {
    content: none;
}
/* Add parentheses around nested lists */
.hlist dd dd:first-child:before, .hlist dd dt:first-child:before, .hlist dd li:first-child:before,
.hlist dt dd:first-child:before, .hlist dt dt:first-child:before, .hlist dt li:first-child:before,
.hlist li dd:first-child:before, .hlist li dt:first-child:before, .hlist li li:first-child:before {
    content: "(";
    font-weight: normal;
}
.hlist dd dd:last-child:after, .hlist dd dt:last-child:after, .hlist dd li:last-child:after,
.hlist dt dd:last-child:after, .hlist dt dt:last-child:after, .hlist dt li:last-child:after,
.hlist li dd:last-child:after, .hlist li dt:last-child:after, .hlist li li:last-child:after {
    content: ")";
    font-weight: normal;
}
/* For IE8 */
.hlist dd dd.hlist-last-child:after, .hlist dd dt.hlist-last-child:after, .hlist dd li.hlist-last-child:after,
.hlist dt dd.hlist-last-child:after, .hlist dt dt.hlist-last-child:after, .hlist dt li.hlist-last-child:after,
.hlist li dd.hlist-last-child:after, .hlist li dt.hlist-last-child:after, .hlist li li.hlist-last-child:after {
    content: ")";
    font-weight: normal;
}

.mf-mobile-only {
    display: none;
}

/* BEGIN styles for pagebanner extension */
.oo-ui-icon-unesco {
    background-image: url('upload.wikimedia.org/wikipedia/commons/b/b1/WorldHeritageBlanc.svg');
}
.oo-ui-icon-star {
    background-image: url('upload.wikimedia.org/wikipedia/commons/e/e7/Cscr-featured.svg');
}
.oo-ui-icon-ftt {
     background-image: url('upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Writing_Circle.svg/25px-Writing_Circle.svg.png');
}
.oo-ui-icon-dotm, .oo-ui-icon-otbp {
     background-image: url('upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/25px-Yes_Check_Circle.svg.png');
}
.ext-wpb-pagebanner li.toclevel-1 {
	padding: 0 0 0 0.4em;
}
.ext-wpb-pagebanner li.toclevel-1 > a:after {
    content: " ·";
    font-weight: bold;
    padding: 0 0 0 0.1em;
}
.ext-wpb-pagebanner li.toclevel-1:last-child > a:after {
    content: none;
}
.ext-wpb-pagebanner h1.wpb-name {
    font-family: sans-serif;
    border-bottom: none;
}
.ext-wpb-pagebanner {
	clear: both;
}
.wpb-banner-toc .toctext { display: inline; }
/* END styles for pagebanner extension */

/* Infobox templates */
.infobox {
   border: 1px solid #aaa;
   background-color: #f9f9f9;
   color: black;
   margin-bottom: 0.5em;
   margin-left: 1em;
   padding: 0.2em;
   float: right;
   clear: right;
}
.infobox td,
.infobox th {
   vertical-align: middle;
}
.infobox caption {
   font-size: larger;
   margin-left: inherit;
}
.infobox.bordered {
   border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
   border: 1px solid #aaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
   border: 0 solid #aaa;
}
.infobox.sisterproject {
   width: 20em;
   font-size: 90%;
}
 
.archive-box {
   border: 1px solid #aaf;
   background-color: #f2f2f9;
   color: #000;
   margin-bottom: 0.5em;
   margin-left: 1em;
   padding: 0.2em;
   float: right;
   clear: right;
   text-align: center;
}

/* CSS for black text external links / blue text on hover */
body.ns-0 #content a.external,
body.ns-0 #content a.external:visited,
body.page-Wikivoyage_External_links #content a.external,
body.page-Wikivoyage_External_links #content a.external:visited,
body.page-Wikivoyage_talk_External_links #content a.external,
body.page-Wikivoyage_talk_External_links #content a.external:visited,
body.page-Wikivoyage_Listings #content a.external,
body.page-Wikivoyage_Listings #content a.external:visited,
body.page-Wikivoyage_talk_Listings #content a.external,
body.page-Wikivoyage_talk_Listings #content a.external:visited,
body.page-Wikivoyage_talk_Attraction_listings #content a.external,
body.page-Wikivoyage_talk_Attraction_listings #content a.external:visited,
body.page-Wikivoyage_talk_Activity_listings #content a.external,
body.page-Wikivoyage_talk_Activity_listings #content a.external:visited,
body.page-Wikivoyage_talk_Restaurant_listings #content a.external,
body.page-Wikivoyage_talk_Restaurant_listings #content a.external:visited,
body.page-Wikivoyage_talk_Bar_listings #content a.external,
body.page-Wikivoyage_talk_Bar_listings #content a.external:visited,
body.page-Wikivoyage_talk_Shopping_listings #content a.external,
body.page-Wikivoyage_talk_Shopping_listings #content a.external:visited,
body.page-Wikivoyage_talk_Accommodation_listings #content a.external,
body.page-Wikivoyage_talk_Accommodation_listings #content a.external:visited,
body.page-Wikivoyage_Don_t_tout #content a.external,
body.page-Wikivoyage_Don_t_tout #content a.external:visited
{
    color: #252525;
}
body.ns-0 #content a.external:hover,
body.ns-0 #content a.external:focus,
body.page-Wikivoyage_External_links #content a.external:hover,
body.page-Wikivoyage_External_links #content a.external:focus,
body.page-Wikivoyage_talk_External_links #content a.external:hover,
body.page-Wikivoyage_talk_External_links #content a.external:focus,
body.page-Wikivoyage_Listings #content a.external:hover,
body.page-Wikivoyage_Listings #content a.external:focus,
body.page-Wikivoyage_talk_Listings #content a.external:hover,
body.page-Wikivoyage_talk_Listings #content a.external:focus,
body.page-Wikivoyage_talk_Attraction_listings #content a.external:hover,
body.page-Wikivoyage_talk_Attraction_listings #content a.external:focus,
body.page-Wikivoyage_talk_Activity_listings #content a.external:hover,
body.page-Wikivoyage_talk_Activity_listings #content a.external:focus,
body.page-Wikivoyage_talk_Shopping_listings #content a.external:hover,
body.page-Wikivoyage_talk_Shopping_listings #content a.external:focus,
body.page-Wikivoyage_talk_Restaurant_listings #content a.external:hover,
body.page-Wikivoyage_talk_Restaurant_listings #content a.external:focus,
body.page-Wikivoyage_talk_Bar_listings #content a.external:hover,
body.page-Wikivoyage_talk_Bar_listings #content a.external:focus,
body.page-Wikivoyage_talk_Accommodation_listings #content a.external:hover,
body.page-Wikivoyage_talk_Accommodation_listings #content a.external:focus,
body.page-Wikivoyage_Don_t_tout #content a.external:hover,
body.page-Wikivoyage_Don_t_tout #content a.external:focus
{
    color: #0645ad;
}

/* BEGIN Map caption - used with MapExpander JS */
.map-expand-link {
	float: right;
	margin-left: 1.5em;
}

/* BEGIN Template:Listing CSS */
.listing-metadata {
	font-size: 0.8em;
}
/* this style should match span.vcard-edit-button a */
.listing-lastedit {
	color: rgb(150,150,150);
}
/* END Template:Listing CSS */

/* BEGIN: style used on the Destinations page */
.rounded-blue-section-heading {
	background-color: #cedff2;
	border-radius: 15px;
	clear:both;
	color: black;
	font-weight: bold;
	margin: 0 8% 1em;
	padding: .5em 1em;
	text-align: center;
	vertical-align: middle;
}
/* END: style used on the Destinations page */

/* BEGIN: styles used with Template:Sleeppricerange and Template:Eatpricerange */
.pricerange-table {
	border: 1px solid #ccc;
	border-spacing: 0;
	background: #f9f9f9;
	float: right;
	clear: right;
	margin: 0.5em 0 0.5em 1em;
	width: 30%;
	padding: 8px;
}
.pricerange-table td {
	padding: 0;
}
/* END: styles used with Template:Sleeppricerange and Template:Eatpricerange */

/* CSS for article status templates, eg Usablecity, Guidepark */
.article-status {
 width: 60%;
 background: #fff;
 margin: 0 auto;
 border: solid 2px lightblue;
 text-align: center;
 font-size:90%;
 font-style:italic;
}

/* CSS for Template:Routebox */ 
.routeBox {
 font-size: small;
 border-style: none;
 border-spacing: 0 0;
 border-collapse: collapse;
 margin: 0 auto;
}

.routeBox td {
 padding: 1px 2px;
}

/* BEGIN: CSS for Template:Climate */
table.climate-table {
	width: 30em;
	margin: 1em;
	padding: 0.5em;
	text-align: center;
	font-size: 80%;
	border: 1px solid #9EBDC7;
	box-shadow: 2px 2px 5px #9EBDC7;
	border-radius: 3px;
	background: #f3f3ff;
	white-space:nowrap;
}
table.climate-table th {
	background: #CEE0E7;
}
/* END: CSS for Template:Climate */

/* BEGIN: CSS for Template:Dead link (display managed via the ErrorHighlighter gadget) */
.error-deadlink {
    color: red;
    background: yellow;
    display: none;
    white-space: nowrap;
}
/* END: CSS for Template:Dead link */

#mw-indicator-GPX { display: none; }

/* BEGIN: User:Wrh2/Sandbox test */
.page-User_Wrh2_Sandbox .ext-wpb-pagebanner .wpb-topbanner .wpb-name {
	width: 35%;
	font-size: 2.5vw;
}
@media screen and (min-width: 768px) {
	.page-User_Wrh2_Sandbox .wpb-banner-toc {
		padding: 0.1vw 1vw;
	}
}
/* END: User:Wrh2/Sandbox test */

/* Additional Kartographer styles */

.mw-kartographer-container.thumb:not(.mw-kartographer-full) .thumbinner > .mw-kartographer-map {
 border: 1px solid #ccc;
 box-sizing: border-box;
}

.wv-staticMap {
 position: relative;
 left: -3px;
 margin-top: 3px;
}

/* Fix problem with banner overlay */
div.toctitle {display:none;}

/*XOWA:MediaWiki:Vector.css*/
/* CSS placed here will affect users of the Vector skin */
#contentSub,
#contentSub2 {
 font-size: 100%;
}

/* Hide title on the main page */
.page-Main_Page .firstHeading, .page-Main_Page #contentSub {
  display: none;
}

/*        ext.inputBox.styles */
.mw-inputbox-centered{margin-left:auto;margin-right:auto;text-align:center}
.mw-inputbox-inline{display:inline}
.mw-inputbox-element{display:inline-table !important;white-space:nowrap}
.mw-inputbox-input{margin-bottom:0.5em}

/*        mediawiki.toc.styles */
.toctogglecheckbox:checked ~ ul{display:none}
@media screen{:not(:checked) > .toctogglecheckbox{display:inline !important;position:absolute;opacity:0}
.toctogglespan{font-size:94%}
:not(:checked) > .toctogglespan:before{content:' ['}
:not(:checked) > .toctogglespan:after{content:']'}
.toctogglelabel{cursor:pointer;color:#0645ad}
.toctogglelabel:hover{text-decoration:underline}
.toctogglecheckbox:focus + .toctitle .toctogglelabel{text-decoration:underline;outline:dotted 1px;outline:auto -webkit-focus-ring-color}
.toctogglecheckbox:checked + .toctitle .toctogglelabel:after{content:'show'}
.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after{content:'hide'}
.toctogglespan ~ .toctoggle{display:none}
}
@media print{.toctogglecheckbox:checked + .toctitle{display:none}
}
/*        mediawiki.ui.button,checkbox,input */
.mw-ui-button{background-color:#f8f9fa;color:#222222;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:4em;max-width:28.75em;margin:0;padding:0.546875em 1em;border:1px solid #a2a9b1;border-radius:2px;font-family:inherit;font-size:1em;font-weight:bold;line-height:1.286;text-align:center;-webkit-appearance:none;*display:inline;zoom:1;vertical-align:middle;cursor:pointer}
.mw-ui-button:visited{color:#222222}
.mw-ui-button:hover{background-color:#ffffff;color:#444444;border-color:#a2a9b1}
.mw-ui-button:focus{background-color:#ffffff;color:#222222;border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;outline-width:0}
.mw-ui-button:focus::-moz-focus-inner{border-color:transparent;padding:0}
.mw-ui-button:active,.mw-ui-button.is-on{background-color:#c8ccd1;color:#000000;border-color:#72777d;box-shadow:none}
.mw-ui-button:disabled,.mw-ui-button.mw-ui-quiet.mw-ui-progressive,.mw-ui-button.mw-ui-quiet.mw-ui-destructive{background-color:#c8ccd1;color:#ffffff;border-color:#c8ccd1;cursor:default}
.mw-ui-button:disabled:hover,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:hover,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:hover,.mw-ui-button:disabled:active,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:active,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:active{background-color:#c8ccd1;color:#ffffff;box-shadow:none;border-color:#c8ccd1}
.mw-ui-button:not(:disabled){-webkit-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;-moz-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms}
.mw-ui-button.mw-ui-quiet{background-color:transparent;color:#222222;border-color:transparent}
.mw-ui-button.mw-ui-quiet:hover{background-color:transparent;color:#444444;border-color:transparent;box-shadow:none}
.mw-ui-button.mw-ui-quiet:active{background-color:transparent;color:#000000;border-color:transparent}
.mw-ui-button.mw-ui-quiet:focus{background-color:transparent;color:#222222;border-color:transparent;box-shadow:none}
.mw-ui-button.mw-ui-quiet:disabled{background-color:transparent;color:#c8ccd1;border-color:transparent}
.mw-ui-button.mw-ui-progressive{background-color:#3366cc;color:#fff;border:1px solid #3366cc}
.mw-ui-button.mw-ui-progressive:hover{background-color:#447ff5;border-color:#447ff5}
.mw-ui-button.mw-ui-progressive:focus{box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff}
.mw-ui-button.mw-ui-progressive:active,.mw-ui-button.mw-ui-progressive.is-on{background-color:#2a4b8d;border-color:#2a4b8d;box-shadow:none}
.mw-ui-button.mw-ui-progressive:disabled{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1}
.mw-ui-button.mw-ui-progressive:disabled:hover,.mw-ui-button.mw-ui-progressive:disabled:active{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1;box-shadow:none}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet{color:#3366cc}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:hover{background-color:transparent;color:#447ff5}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:active{color:#2a4b8d}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:focus{background-color:transparent;color:#3366cc}
.mw-ui-button.mw-ui-destructive{background-color:#dd3333;color:#fff;border:1px solid #dd3333}
.mw-ui-button.mw-ui-destructive:hover{background-color:#ff4242;border-color:#ff4242}
.mw-ui-button.mw-ui-destructive:focus{box-shadow:inset 0 0 0 1px #dd3333,inset 0 0 0 2px #ffffff}
.mw-ui-button.mw-ui-destructive:active,.mw-ui-button.mw-ui-destructive.is-on{background-color:#b32424;border-color:#b32424;box-shadow:none}
.mw-ui-button.mw-ui-destructive:disabled{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1}
.mw-ui-button.mw-ui-destructive:disabled:hover,.mw-ui-button.mw-ui-destructive:disabled:active{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1;box-shadow:none}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet{color:#dd3333}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:hover{background-color:transparent;color:#ff4242}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:active{color:#b32424}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:focus{background-color:transparent;color:#dd3333}
.mw-ui-button.mw-ui-big{font-size:1.3em}
.mw-ui-button.mw-ui-block{display:block;width:100%;margin-left:auto;margin-right:auto}
input.mw-ui-button::-moz-focus-inner,button.mw-ui-button::-moz-focus-inner{margin-top:-1px;margin-bottom:-1px}
a.mw-ui-button{text-decoration:none}
a.mw-ui-button:hover,a.mw-ui-button:focus{text-decoration:none}
.mw-ui-button-group > *{min-width:48px;border-radius:0;float:left}
.mw-ui-button-group > *:first-child{border-top-left-radius:2px;border-bottom-left-radius:2px}
.mw-ui-button-group > *:not(:first-child){border-left:0}
.mw-ui-button-group > *:last-child{border-top-right-radius:2px;border-bottom-right-radius:2px}
.mw-ui-button-group .is-on .button{cursor:default}
.mw-ui-checkbox{display:inline-block;line-height:1.5625em;vertical-align:middle}
.mw-ui-checkbox:not(#noop){display:table;position:relative}
.mw-ui-checkbox:not(#noop) *{font:inherit;vertical-align:middle}
.mw-ui-checkbox:not(#noop) [type='checkbox']{display:table-cell;position:relative;width:1.5625em;height:1.5625em;max-width:none;margin:0;opacity:0;z-index:1}
.mw-ui-checkbox:not(#noop) [type='checkbox'] + label{display:table-cell;padding-left:0.4em}
.mw-ui-checkbox:not(#noop) [type='checkbox'] + label:before{content:'';background-color:#fff;background-origin:border-box;background-position:center center;background-repeat:no-repeat;-webkit-background-size:0 0;background-size:0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:absolute;top:50%;left:0;width:1.5625em;height:1.5625em;margin-top:-0.78125em;border:1px solid #72777d;border-radius:2px}
.mw-ui-checkbox:not(#noop) [type='checkbox']:checked + label:before{background-image:url(/w/resources/src/mediawiki.ui/components/images/checkbox-checked.png?6f2e5);background-image:linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22%3E %3Cpath fill=%22%23fff%22 d=%22M17 7.5L9.5 15 6 11.5 4.5 13l5 5L20 7.5c-.706-.706-2.294-.706-3 0z%22/%3E %3C/svg%3E");-webkit-background-size:90% 90%;background-size:90% 90%}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled{cursor:pointer}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled + label{cursor:pointer}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled + label:before{cursor:pointer;-webkit-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;-moz-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:focus + label:before{border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:hover + label:before{border-color:#3366cc}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:active + label:before{background-color:#2a4b8d;border-color:#2a4b8d;box-shadow:inset 0 0 0 1px #2a4b8d}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:checked + label:before{background-color:#3366cc;border-color:#3366cc}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:checked:focus + label:before{background-color:#3366cc;border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:checked:hover + label:before{background-color:#447ff5;border-color:#447ff5}
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:checked:active + label:before{background-color:#2a4b8d;border-color:#2a4b8d}
.mw-ui-checkbox:not(#noop) [type='checkbox']:disabled + label:before{background-color:#c8ccd1;border-color:#c8ccd1}
.mw-ui-input{background-color:#fff;color:#000000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;width:100%;border:1px solid #a2a9b1;border-radius:2px;padding:0.57142857em 0.57142857em 0.5em;box-shadow:inset 0 0 0 0.1em #fff;font-family:inherit;font-size:inherit;line-height:1.07142857em;vertical-align:middle}
.mw-ui-input::-webkit-input-placeholder{color:#72777d;opacity:1}
.mw-ui-input:-ms-input-placeholder{color:#72777d;opacity:1}
.mw-ui-input::-moz-placeholder{color:#72777d;opacity:1}
.mw-ui-input:-moz-placeholder{color:#72777d;opacity:1}
.mw-ui-input::placeholder{color:#72777d;opacity:1}
.mw-ui-input:invalid{box-shadow:none}
.mw-ui-input:hover{border-color:#72777d}
.mw-ui-input:focus{border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc;outline:0}
.mw-ui-input:not(:disabled){-webkit-transition:color 100ms,border-color 100ms,box-shadow 100ms;-moz-transition:color 100ms,border-color 100ms,box-shadow 100ms;transition:color 100ms,border-color 100ms,box-shadow 100ms}
.mw-ui-input:disabled{border-color:#eaecf0;color:#c8ccd1}
.mw-ui-input[type='search']{-webkit-appearance:textfield}
.mw-ui-input[type='search']::-ms-clear{display:none}
.mw-ui-input[type='search']::-webkit-search-cancel-button,.mw-ui-input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
textarea.mw-ui-input{min-height:8em}
.mw-ui-input-inline{display:inline-block;width:auto;max-width:100%}
.mw-ui-input-large{margin-top:0;margin-bottom:0}
.mw-ui-input-large + .mw-ui-input-large{margin-top:-1px}
.mw-ui-input-large:focus{position:relative}
input.mw-ui-input-large{font-size:1.75em;font-weight:bold;line-height:1.25em;padding:0.3673em 0.3265em 0.3265em}
