/*XOWA:MediaWiki:Common.css*/
/* FIX problema td zero-width nella barra qualità in Chrome, vedi http://stackoverflow.com/questions/24386674/google-chrome-zero-width-table-cells-use-up-space */
.pr_quality {
    table-layout: fixed;
}

mark {
	background-color:#def;
}

/* test: assegno a tbody un vertical-align:inherit per far ereditare a td i settaggi di table */
tbody {
	vertical-align:inherit;
}
/* test: assegnando a table una classe delle seguenti, tutti i td ricevono lo style corrispondente.
Alla table viene assegnato un border-collapse:collapse; alle celle viene assegnato un piccolo padding dx e sin. */
.cellbordert,.cellborderr,.cellborderb,.cellborderl, .noPadding  {border-collapse:collapse;}
.noPadding td {padding:0 0 0 0;}
.cellbordert td {border-top:1px solid black; padding:0 0.3em 0 0.3em;}
.cellborderr td {border-right:1px solid black; padding:0 0.3em 0 0.3em;}
.cellborderb td {border-bottom:1px solid black;  padding:0 0.3em 0 0.3em;}
.cellborderl td {border-left:1px solid black; padding:0 0.3em 0 0.3em;}


/* ogni p interno a una classe .eredita eredita la line-height, il margin, il text-indent dell'elemento div genitore 
Semplicemente dando uno style a una div radice, tutti i p si adeguano. Con:

div class="inherit"  style="line-height:1.5em; text-indent:0; margin:0" 

si ottiene un effetto "poem-like" perchè i tag p acquistano caratteri di linea normale
*/
.eredita p {
	line-height:inherit; 
	text-indent:inherit; 
	margin:inherit; 
	font-family:inherit;
	font-size: inherit;
	font-style: inherit;
}

/* importazione css per FreedImg e azzero il text-indent per adattarlo a it.source  */
/*
/*XOWA://en.wikisource.org/w/index.php?title=User:George_Orwell_III/common.css/dynimg.css&action=raw&ctype=text/css*/


 */
p.freedImg, div.freedImg2 > p.freedImg2, #mySpan1, #mySpan2, .mySpan1, .mySpan2  {
	text-indent:0!important;
}

#mySpan2 a, .myspan2 a {
	width:inherit;
}
 
img.freedImg, img.newFreedImg {
	width:inherit;
	height:auto;
}
/* permette di registrare in un tag tr bordi e allineamento del testo che poi si propagano alle celle 
della riga */
.donor td, .donor th {border:inherit;text-align:inherit;}
/* caratteri per i template polytonic - proveniente da it.wikipedia */
/* "Inherit" resetta i fonts per tutti i browser eccetto MSIE6. Il commento vuoto deve essere presente */

.polytonic {
	font-family: Athena, Gentium, Palatino Linotype, Arial Unicode MS, Lucida Sans Unicode, Lucida Grande, Code2000; 
	/*font-family :inherit;*/
}


/* 
	Modifica di Alex: setta tutti i sup in modo che non vari l'interlinea (richiesta di Xavier121 
*/
sup {line-height:75%; vertical-align:text-top; }
/*
	Nasconde il titolo per la pagina principale
*/
body.page-Pagina_principale #t-cite,
body.page-Pagina_principale #lastmod, 
body.page-Pagina_principale #siteSub, 
body.page-Pagina_principale h1.firstHeading,
body.page-Wikisource_Bar h1.firstHeading,
body.page-Pagina_principale div#contentSub,
body.page-Wikisource_Bar div#contentSub,
span.SAL,
.hiddenStructure,
span.errata span.eco,
#prp_header br {
	display:none !important;
}
/*
	Classe per i metadati
*/
span.metadata {
	display:none !important;
}
/* testo di dimensioni leggibili sulle pagine degli script */
pre, .source-python {
	font-size:0.8pc
}

/* fa apparire i redirect in corsivo in [[Special:Allpages]] */
.allpagesredirect {
	font-style: italic;
}


/*
	Stili per i testi 
*/
/* stile del tag td standard (nessun padding tranne che a destra e a sinistra) */
td { padding:0 0.6em 0 0; }

/* stile del td per Special:IndexPages */
ol.special td { padding: 0 0 5px 0 }
ol.special td td { padding: 0 }


.teatro {margin-bottom:0; 
	margin-top:0; 
	line-height:1.6em;
	margin-left:2em;
	text-indent:0;}
.teatro p {margin-top:0 /*important*/; 
	margin-bottom:0 /*important*/; 
	text-indent:0 /*important*/;}
.canzone {
	width:33em;
	text-align:justify;
	margin:0 auto;
}
.canzone p { 
	text-indent:0
}

.diritto {
	text-align:justify;
}
.diritto p { 
	text-indent:2em
}

.open_source {
	width:43em;
	text-align:justify;
	margin:0 auto;
}
.open_source p {
	text-indent:2em
}

.religione {
	width:33em;
	text-align:justify;
	margin:0 auto;
}
.religione p { 
	text-indent:0
}

.tesi {
	width:43em;
	text-align:justify;
	margin:0 auto;
}
.tesi p { 
	text-indent:2em
}

.testi {
	width:33em;
	text-align:justify;
	margin:0 auto;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1em;
}
.testi p { 
	text-indent:2em;
	font-size:inherit;
}

.ottava {
	margin-left:60px;
	padding-left:20px;
	text-align:left;
}

.ottava p {
	margin-left:60px;
	padding-left:20px;
	text-align:left;
}


/* --- NAMESPACE PAGINA --- */
	
.pagetext {
	max-width:33em; /*uguale alla larghezza in ns0, ma col max perché su schermi piccoli si rimpicciolisca se non ci sta*/
	text-align:justify;
	font-family:Georgia,Times New Roman,Times,serif;
	margin:0 auto;
	position:relative; /* aggiunta per gestire il template L */
}
.pagetext p {
	text-indent:2em
}
/* sopprimi indentazione prima riga in nsPagina */
.pagetext > .mw-parser-output > p:first-of-type {
	text-indent:0;
}
.pagetext blockquote {
	margin:0.5em 0;
}

.references { font-size:90%;}
.references p { text-indent:0;}

/* Highlight per le note */
ol.references > li:target {
	 background-color:#DEF;
}

sup.reference {
	text-indent:0;
}
sup.reference:target {
	 background-color:#DEF;
}

/* classe centertext:colonne centrée de texte sans indentation */
	
.centertext {
	width:33em;
	text-align:justify;
	margin:0 auto;
	margin-top: 0;
	margin-bottom: 0;
	text-indent:0;
}
.centertext p {
	text-indent:inherit;
	margin-top: 0;
	margin-bottom: 0;
}
	
/* classe lefttext:colonne de texte à gauche avec indentation */
.lefttext {
	width:33em;
	text-align:justify;
	margin-left:5em;
}
.lefttext p {
	text-indent:2em
}

.itwiki_template_babelbox {
	float:right; 
	margin:0 0 .5em 1em;
	width:20em; /* per evitare problemi con Opera e Safari */
	padding:5px 7px 5px 5px; /* questo lo farà apparire storto in MSIE
	        ma non so che farci */
}
.itwiki_template_babelbox .intestazione {
	text-align:center;
	font-weight:bold;
	margin-left:2px;
}
/* Classi dei template attualmente in uso */
/* livello zero */
.itwiki_template_babel_0 {
	float:left;
	width:20em;
	background:#FFE0E0;
	border:solid #FFB0B0 1px;
	margin:1px 1px 1px 0;
}
.itwiki_template_babel_0 .sigla {
	background:#FFB0B0;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
/* livello 1 */
.itwiki_template_babel_1 {
	float:left;
	width:20em;
	background:#E0D0FF;
	border:solid #D0B0E0 1px;
	margin:1px 1px 1px 0;
}
.itwiki_template_babel_1 .sigla {
	background:#D0B0E0;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
/* livello 2 */
.itwiki_template_babel_2 {
	float:left;
	width:20em;
	background:#B0D0FF;
	border:solid #90B0E0 1px;
	margin:1px 1px 1px 0;
}
.itwiki_template_babel_2 .sigla {
	background:#90B0E0;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
/* livello 3 */
.itwiki_template_babel_3 {
	float:left;
	width:20em;
	background:#B0FFE0;
	border:solid #90E0C0 1px;
	margin:1px 1px 1px 0;
}
.itwiki_template_babel_3 .sigla {
	background:#90E0C0;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
/* madrelingua */
.itwiki_template_babel_M {
	float:left;
	width:20em;
	background:#c0ffd0;
	border:solid #60ffa0 1px;
	margin:1px 1px 1px 0;
}
.itwiki_template_babel_M .sigla {
	background:#60ffa0;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
.itwiki_template_babel .sigla,
.itwiki_template_babel2 .sigla {
	width:4em;
}
.itwiki_template_babel td,
.itwiki_template_babel2 td {
	font-size:.9em;
	line-height:1.2em;
	padding:5px;
}

.itwiki_template_babel_0 .sigla,
.itwiki_template_babel_1 .sigla,
.itwiki_template_babel_2 .sigla,
.itwiki_template_babel_3 .sigla,
.itwiki_template_babel_M .sigla {
	width:4em;
}
.itwiki_template_babel_0 td,
.itwiki_template_babel_1 td,
.itwiki_template_babel_2 td,
.itwiki_template_babel_3 td,
.itwiki_template_babel_M td {
	font-size:.9em;
	line-height:1.2em;
	padding:5px;
}
.itwiki_template_babelbox .itwiki_template_babel_0,
.itwiki_template_babelbox .itwiki_template_babel_1,
.itwiki_template_babelbox .itwiki_template_babel_2,
.itwiki_template_babelbox .itwiki_template_babel_3,
.itwiki_template_babelbox .itwiki_template_babel_M {
	clear:left; /* perché i singoli template nel babelbox
	  siano uno sotto l'altro */
}

/*
* Stili per l'estensione {{#babel}}
*/
table.mw-babel-wrapper {
	float:right;
	clear:right;
	margin:0 0 .5em 1em;
	padding-left:0.6em !important;
}

div.mw-babel-box.mw-babel-box-0,
div.mw-babel-box.mw-babel-box-1,
div.mw-babel-box.mw-babel-box-2,
div.mw-babel-box.mw-babel-box-3,
div.mw-babel-box.mw-babel-box-4,
div.mw-babel-box.mw-babel-box-N {
	border-width:0;
	width:20em;
	margin:1px 1px 1px 0;
}

div.mw-babel-box.mw-babel-box-0 {
	background:#FFE0E0;
	border:solid #FFB0B0 1px;
} 
div.mw-babel-box.mw-babel-box-1 {
	background:#E0D0FF;
	border:solid #D0B0E0 1px;
} 
div.mw-babel-box.mw-babel-box-2 {
	background:#B0D0FF;
	border:solid #90B0E0 1px;
} 
div.mw-babel-box.mw-babel-box-3 {
	background:#B0FFE0;
	border:solid #90E0C0 1px;
} 
div.mw-babel-box.mw-babel-box-4 {
	background:#B0FFE0;
	border:solid #90E0C0 1px;
}
div.mw-babel-box.mw-babel-box-N {
	background:#c0ffd0;
	border:solid #60ffa0 1px;
} 
div.mw-babel-box table {
	float:left;
	width:20em;
	background-color: inherit;
}
 
div.mw-babel-box {
	margin:0;
	margin-bottom:-1px; /* collapse adjacent borders */
}
 
div.mw-babel-box table {
	width:19em;
	border-collapse:collapse;
}
 
div.mw-babel-box table th,
div.mw-babel-box table td {
	height:auto;
	padding:4px;
	font-family:sans-serif;
}
 
div.mw-babel-box table th {
	width:3em;
	font-size:1.2em;
	text-align:center;
}
 
div.mw-babel-box table td {
	width:16em;
	line-height:1.1em;
	background-color:inherit;
}

div.mw-babel-box-0 table th {
	background-color:#FFB0B0;
}
div.mw-babel-box-1 table th {
	background-color:#D0B0E0;
}
div.mw-babel-box-2 table th {
	background-color:#90B0E0;
}
div.mw-babel-box-3 table th {
	background-color:#90E0C0;
}
div.mw-babel-box-4 table th {
	background-color:#60ffa0;
}
div.mw-babel-box-N table th {
	background-color:#60ffa0;
}

/* Questa classe mostra una casella singola senza allineamenti a destra o formattazioni:
utile per pagine utente dal layout personalizzato */
.babel-plain table.mw-babel-wrapper {
	float:none;
	clear:none;
	margin:0;
}

.babel-plain div.mw-babel-box {
	margin:0;
}

.babel-plain .mw-babel-header,
.babel-plain .mw-babel-footer {
	display:none;
}

/*fine classi per babeltemplate*/

/*
	Classi per arrotondare i bordi dei div e delle tabelle 
*/
.radius {
	-moz-border-radius:1em;
}
.radius_top {
	-moz-border-radius-topright:1em;
	-moz-border-radius-topleft:1em;
}
.radius_bottom {
	-moz-border-radius-bottomright:1em;
	-moz-border-radius-bottomleft:1em;
}
.rad {
	-moz-border-radius:.5em;
}

/*
	Colori dei namespace 

	'0'='Articolo',			'1'='Discussione' 
	'2'='Utente',			'3'='Discussione Utente' 
	'4'='Wikisource',		'4'='Discussione Wikisource' 
	'6'='Immagine',		'5'='Discussione Immagine' 
	'8'='MediaWiki',		'9'='Discussione MediaWiki' 
	'10'='Template',		'11'='Discussione Template' 
	'12'='Aiuto',			'13'='Discussione Aiuto' 
	'14'='Categoria',		'15'='Discussione Categoria' 
*/

/* Colori di default */
#content { background:white; }
#p-cactions li { background:white; }
#p-cactions li a { background:white; }

/* Colori di fondo delle pagine normali */
.ns-0 #content { background:white; }
.ns-0 #p-cactions li { background:white; }
.ns-0 #p-cactions li a { background:white; }

/* Colori di fondo delle pagine di discussione */
.ns-1 #content, .ns-1 #p-cactions li,
.ns-1 #p-cactions li a { background:white; }
.ns-1 div.thumb { border-color:white; }

/* Colori di fondo delle pagine Utente */
.ns-2 #content { background:white; }
.ns-2 #p-cactions li { background:white; }
.ns-2 #p-cactions li a { background:white; }

/* Colori di fondo delle pagine Discussione Utente */
.ns-3 #content, .ns-3 #p-cactions li,
.ns-3 #p-cactions li a { background:#ffe; }
.ns-3 div.thumb { border-color:#ffe; }

/* Colori di fondo delle pagine Wikisource */
.ns-4 #content, .ns-4 #p-cactions li,
.ns-4 #p-cactions li a { background:white}
.ns-4 div.thumb { border-color:white; }

/* Colori di fondo delle pagine Discussione Wikisource */
.ns-5 #content, .ns-5 #p-cactions li,
.ns-5 #p-cactions li a { background:white; }
.ns-5 div.thumb { border-color:white; }

/* Colori di fondo delle pagine Immagine */
.ns-6 #content, .ns-6 #p-cactions li,
.ns-6 #p-cactions li a { background:#fff; }
.ns-6 div.thumb { border-color:#fff; }

/* Colori di fondo delle pagine Discussione Immagine */
.ns-7 #content, .ns-7 #p-cactions li,
.ns-7 #p-cactions li a { background:#fff; }
.ns-7 div.thumb { border-color:#fff; }

/* Colori di fondo delle pagine MediaWiki */
.ns-8 #content { background:#EEEEFF; }
.ns-8 #p-cactions li { background:#EEEEFF; }
.ns-8 #p-cactions li a { background:#EEEEFF; }
.ns-8 div.thumb { border-color:#EEEEFF; }

/* Colori di fondo delle pagine Discussione MediaWiki */
.ns-9 #content, .ns-9 #p-cactions li,
.ns-9 #p-cactions li a { background:#EEEEFF; }
.ns-9 div.thumb { border-color:#EEEEFF; }

/* Colori di fondo delle pagine Template */
.ns-10 #content { background:white }
.ns-10 #p-cactions li { background:white }
.ns-10 #p-cactions li a { background:white }

/* Colori di fondo delle pagine Discussione Template */
.ns-11 #content, .ns-11 #p-cactions li,
.ns-11 #p-cactions li a { background:white; }
.ns-11 div.thumb { border-color:white; }

/* Colori di fondo delle pagine Aiuto */
.ns-12 #content, .ns-12 #p-cactions li,
.ns-12 #p-cactions li a { background:white; }
.ns-12 div.thumb { border-color:#fee; }

/* Colori di fondo delle pagine Discussione Aiuto */
.ns-13 #content, .ns-13 #p-cactions li,
.ns-13 #p-cactions li a { background:white; }
.ns-13 div.thumb { border-color:#fee; }

/* Colori di fondo delle pagine Categoria */
.ns-14 #content { background:white; }
.ns-14 #p-cactions li { background:white; }
.ns-14 #p-cactions li a { background:white; }

/* Colori di fondo delle pagine Discussione Categoria */
.ns-15 #content, .ns-15 #p-cactions li,
.ns-15 #p-cactions li a { background:white; }
.ns-15 div.thumb { border-color:white; }

/*
	Immagini di sfondo 
*/

/* Immagine di sfondo per la pagina delle ultime modifiche */
#BG_wiki { 
	background-image:url("upload.wikimedia.org/wikipedia/commons/e/e1/Wikisource-logo-sfondo.png"); 
}

/* Per elementi che non vanno stampati */
@media print {
	.noprint { display:none }
}

/*
	Colori per le pagine indice 
*/
.indice_intestazione {
	border:solid #ccc 1px; 
	background:#FCFCFC; 
	margin-bottom:0; 
	font-size:x-large; 
	padding:1em;
}
.indice_gestione_portale_intestazione {
	border:solid #ccc 1px; 
	background:#F5FFFA; 
	margin-bottom:0; 
	font-size:x-large; 
	padding:1em;
}
.indice_etichetta {
	font-size:.9em;
	padding-left:0.2em; 
	padding-top:0;
}

/*
	Modifiche colorate 
*/
.mw-plusminus-pos { color:darkgreen; }
.mw-plusminus-neg { color:red; }


/*
	Stili per i box che si visualizzano al passaggio del mouse
	Licenza: GFDL e Creative Commons Attribution 2.5
*/
.HopContent {
	display:none;
}
.HopFrame:hover .HopContent {
	display:block;
}
	
#mw-dismissable-notice {
	background-color:transparent;
}

/* togli l'orrendo bordo tratteggiato attorno alla barra della qualità */
table.pr_quality {
	border: 0 !important;
}


/* NUOVI STILI per bottoni qualità grandi come quelli di OOjs UI (8/2017) */
.editCheckboxes .oo-ui-widget {
    display: inline-block;
    vertical-align: top;
}
#wpQuality-container {
    display: inline-table;
}
#wpQuality-container > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5625em;
    padding-right: 18px !important;
    margin-right: 10px;
}
#wpQuality-container > span > input {
    width: 1.5625em;
    height: 1.5625em;
    margin-right: 0;
    cursor: pointer;
}
#wpQuality-container span.quality0 {
	background: url("upload.wikimedia.org/wikipedia/commons/thumb/d/d6/00%25.svg/20px-00%25.svg.png") center right no-repeat;
}
#wpQuality-container span.quality1 {
	background: url("upload.wikimedia.org/wikipedia/commons/thumb/3/34/25%25.svg/20px-25%25.svg.png") center right no-repeat;
}
#wpQuality-container span.quality2 {
	background: url("upload.wikimedia.org/wikipedia/commons/thumb/c/c2/50%25.svg/20px-50%25.svg.png") center right no-repeat;
}
#wpQuality-container span.quality3 {
	background: url("upload.wikimedia.org/wikipedia/commons/thumb/4/49/75%25.svg/20px-75%25.svg.png") center right no-repeat;
}
#wpQuality-container span.quality4 {
	background: url("upload.wikimedia.org/wikipedia/commons/thumb/2/24/100_percent.svg/20px-100_percent.svg.png") center right no-repeat;
}
.editCheckboxes .oo-ui-widget label {
	float: right;
}
/* sopprimi gli odiosi cerchietti attorno alle checkbox */
.prp-quality-radio {
    border-radius: inherit !important;
    border:  inherit !important;
    box-shadow: inherit !important;
}


/* Livelli di qualità per il SAL */ 
.quality4, .numeropagina .prp-pagequality-4 {
	background:url("upload.wikimedia.org/wikipedia/commons/6/64/100%25.png") center right no-repeat;
	padding-right:11px;
}
.quality3, .numeropagina .prp-pagequality-3 {
	background:url("upload.wikimedia.org/wikipedia/commons/c/cd/75%25.png") center right no-repeat;
	padding-right:11px;
}
.quality2, .numeropagina .prp-pagequality-2 {
	background:url("upload.wikimedia.org/wikipedia/commons/3/3a/50%25.png") center right no-repeat;
	padding-right:11px;
}
.quality1, .numeropagina .prp-pagequality-1 {
	background:url("upload.wikimedia.org/wikipedia/commons/5/5b/25%25.png") center right no-repeat;
	padding-right:11px;
}
.quality0 {
	background:url("upload.wikimedia.org/wikipedia/commons/8/8f/00%25.png") center right no-repeat;
	padding-right:11px;
}

/* indicatori di qualità per pagine proofread */

div.quality4,
div.quality3,
div.quality2,
div.quality1,
div.quality0 { background:#ffffff; }

#contentSub td.quality4, ol.special td.quality4 { background:#90ff90; padding-right:0; }
#contentSub td.quality3, ol.special td.quality3 { background:#ffe867; padding-right:0; }
#contentSub td.quality2, ol.special td.quality2 { background:#b0b0ff; padding-right:0; }
#contentSub td.quality1, ol.special td.quality1 { background:#ffa0a0; padding-right:0; }
#contentSub td.quality0, ol.special td.quality0 { background:#dddddd; padding-right:0; }

/* stili per i messaggi MediaWiki:Proofreadpage_quality*_message */
.quality-msg {
	margin-top: 5px;
    width: 90%;
    margin: 0 auto;
    font-size: 90%;
    background: #fbfbfb;
    border: 1px solid #aaa;
    border-left: 10px solid #1e90ff;
}
.quality-msg-image {
	padding: 2px 0 2px 0.5em;
    text-align: center;
}
.quality-msg-text {
	padding: 0.25em 0.5em;
    width: 100%;
}
.quality-msg-imageright {
    padding: 2px 4px 2px 0;
    text-align: center;
}

/* stile per le pagine non create su Special:IndexPages */
.mw-special-IndexPages .qualitye { border: 1px dotted gray; }

#pagequality { padding-right:0; }

	
/*Highlight per le citazioni invisibili*/
	
span.Citazione:target {
	background-color:#DEF;
}
dt {
	font-weight:bold;
	margin-bottom:0;
}
dl {
	margin-top:0;
	margin-bottom:0;
}
dd {
	line-height:1.5em;
	margin-left:2em;
	margin-bottom:0;
}
	
.indent p {
	margin-top:0 /*important*/; 
	margin-bottom:0 /*important*/; 
	/* margin-left:inherit; */
	text-indent:inherit;
}
/* classi per fine riga punteggiato */
.dotted {
     background-image:url('upload.wikimedia.org/wikipedia/commons/6/61/Dots.png');
     background-repeat:no-repeat;
     background-position:left bottom;
}
.opaque {
     background-color:white; 
}

/* Classe per "accoppare" l'indent dei paragrafi (from a suggestion of Ineuw) */
.noindent p {text-indent:0}

/* stili per link interprogetto a sx */
#interProject {display: none; speak: none;} 
#p-tb .pBody {padding-right: 0;}

/* toglie i margini attorno agli elenchi, tranne il rientro di sinistra */
#bodyContent ul {margin: 0 0 0 1.5em}

/* stile per link a funzioni RegexMenuFramework a sx */
div.p-body ul{list-style:none;list-style-image:none;list-style-type:none;padding:0;margin:0;}
div.p-body ul li{line-height:1.125em;padding:0;padding-bottom:0.5em;margin-left:1.25em;overflow:hidden;font-size:0.75em}
div.p-body ul li a{color:#0645AD}
div.p-body ul li a:visited{color:#0645AD}
div.portlet h5 {line-height:1.125em;padding:0;padding-bottom:0.5em;margin-left:1.25em;overflow:hidden;font-size:0.75em}


/* stile per la classe div colonna */
.colonna {
	text-indent:0.5em;
}
.colonna p {
	text-indent:inherit;
	margin-left:inherit;
}

/* stili per prettytable */
table.prettytable, table.prettytable th, table.prettytable td {
	border: 1px solid #CCCCCC;
}

/*Stile Samuele Papa*/
.btn {
	border: 1px solid #1D6283;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 2px;
	-moz-box-shadow: 3px 3px 1px rgb(255,255,255);
	-webkit-box-shadow: 3px 3px 1px rgb(255,255,255);
	box-shadow: 3px 3px 1px rgb(255,255,255);
	font-size: 12px;
	font-weight: normal;
	color: rgb(3,0,0);
	background-color: #C0DEF8;
	cursor: pointer;
}
.btn:hover {
	-moz-box-shadow: 0 0 0 rgb(255,255,255);
	-webkit-box-shadow: 0 0 0 rgb(255,255,255);
	box-shadow: 0 0 0 rgb(255,255,255);
	background-color: #5783B4;
	color: white;
}
.btn:active, .btn:focus {
	background-color: #345A90;
	color: white;
}

/* senza questo il display sarebbe inline-block
 * e quindi, sulle righe con rientro, i numeri di riga,
 * anziché andare tutto a destra, resterebbero attaccati in fondo alla riga 
 */
.mw-poem-indented {
	display: inline !important;
}

.diplomatico {display:none;}
.espanso {display:inline;}
.critico {display:none;}
 
.diplomaticoShow .diplomatico, .espansoShow .espanso, .criticoShow .critico {display:inline;}

.diplomaticoShow .espanso, .diplomaticoShow .critico, 
.criticoShow .diplomatico, .criticoShow .espanso, 
.espansoShow .diplomatico, .espansoShow .critico {display:none;} 

/* Style for horizontal lists (separator following item) (da Commons; usato da [[Template:Authority control]] */
.skin-monobook .hlist dl,
.skin-modern .hlist dl,
.skin-vector .hlist dl {
	line-height: 1.5em;
}
.hlist dl,
.hlist ol,
.hlist ul {
	margin: 0;
}
.hlist dd,
.hlist dt,
.hlist li { 
	display: inline;
	margin: 0;
}
/* Display nested lists inline */
.hlist dl dl,
.hlist ol ol,
.hlist ul ul {
	display: inline;
}
/* Generate interpuncts */
.hlist dd:after,
.hlist dt:after,
.hlist li:after {
	content: " ·";
	font-weight: bold;
}

/* alternative interpuncts */
.hlist.tract dd:after,
.hlist.tract dt:after,
.hlist.tract li:after {
	content: " —";
	font-weight: bold;
}
.hlist dd:last-child:after,
.hlist dt:last-child:after,
.hlist li:last-child:after {
	content: none;
}
/* for IE 8 */
.hlist dd.nopunct:after,
.hlist dt.nopunct:after,
.hlist li.nopunct:after {
	content: none;
}
/* Add parens around nested lists */
.hlist dl dl:before,
.hlist ol ol:before,
.hlist ul ul:before {
	content: "(";
}
.hlist dl dl:after,
.hlist ol ol:after,
.hlist ul ul:after {
	content: ")";
}
/* Put numbers in ordered lists */
.hlist.hnum ol li {
	counter-increment: level1;
}
.hlist.hnum ol li:before {
	content: counter(level1) " ";
}
.hlist.hnum ol ol li {
	counter-increment: level2;
}
.hlist.hnum ol ol li:before {
	content: counter(level2) " ";
}
 
.sharedUploadNotice {
	 border:1px solid #aaa; margin: 1em auto; width: 60%; padding: 3px 1% 3px 8%; border-radius: 2px;
	 background-color: #EEEFFF; background-position: 2% 50%; background-repeat: no-repeat;
	 background-image: url("upload.wikimedia.org/wikipedia/commons/9/9d/Commons-logo-31px.png");
}
.blue {
	display: inline-block;
	padding: 0.4065em 1.2195em 0.4065em;
	font-size: 0.813em;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #3366bb;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3670c8),color-stop(100%,#3366bb));
	background-image: -webkit-linear-gradient(top,#3670c8,#3366bb);
	background-image: linear-gradient(#3670c8,#3366bb);
	border: 1px #33589f solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.blue:hover {
	background-color: #3f77d7;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4c84da),color-stop(100%,#3f77d7));
	background-image: -webkit-linear-gradient(top,#4c84da,#3f77d7);
	background-image: linear-gradient(#4c84da,#3f77d7);
}
.blue:active {
	background-color: #2a549c;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2d5ea9),color-stop(100%,#2a549c));
	background-image: -webkit-linear-gradient(top,#2d5ea9,#2a549c);
	background-image: linear-gradient(#2d5ea9,#2a549c);
}
.button {
	display: inline-block;
	padding: 0.4065em 1.2195em 0.4065em;
	font-size: 0.813em;
	font-weight: bold;
	line-height: 1;
	color: #252525;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f0f0f0),color-stop(100%,#e6e6e6));
	background-image: -webkit-linear-gradient(top,#f0f0f0,#e6e6e6);
	background-image: linear-gradient(#f0f0f0,#e6e6e6);
	border: 1px #c9c9c9 solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.button:hover {
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#f0f0f0));
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f0f0f0);
	background-image: linear-gradient(#f8f8f8,#f0f0f0);
	border-color: #c9c9c9;
}
.button:active {
	background-color: #d8d8d8;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d3d3d3),color-stop(100%,#d8d8d8));
	background-image: -webkit-linear-gradient(top,#d3d3d3,#d8d8d8);
	background-image: linear-gradient(#d3d3d3,#d8d8d8);
	border-color: #c9c9c9;
}
.icon-close {
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAFVBMVEX///9YWFhVVVVVVVVYWFhVVVVVVVXoAYr3AAAABnRSTlMAIODAPPuxK62GAAAASElEQVQIW2NgNGRgYAARQkkCEMIsTZGBUS3NgEEoLUkAhEE8FTWgKFA+LRUkwAASAgswMLimpTowIIvA1MB1wc1BmAyzC2Y7AAiaExMXmNVGAAAAAElFTkSuQmCC) no-repeat scroll center center;
	float: right;
	padding: 15px;
	cursor: pointer;
}

/* classe poem:utilizare con <poem> per i testi in versi */
	
.poem {
	line-height: 1.6em;
	margin-bottom: 0; 
	margin-top: 0; 
	margin-left: 2em;
	margin-right: 2em;
	text-indent: 0;
}
.poem div {
	text-indent:inherit /*important*/;
}

.poem p { 
	margin-top:0 /*important*/ ;
	margin-bottom:0 /*important*/; 
	text-indent:inherit /*important*/;
}

div.centertext .poem {
	margin-left:0;
}

/* stile per le iconcine in alto a dx sulla barra del titolo */
.Top_icon_raw {
	float: right;
	margin:5px;
}

/* prova padding left per .reference */
.reference {
	padding-left: 5px;
}

#contentSub {
	margin-bottom: 0 !important;
}

/* numerazione automatica delle righe di una tabella */
table.rownumber {
    counter-reset: rowNumber;
}
table.rownumber tr td:first-child {
    counter-increment: rowNumber;
}
table.rownumber tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
/* ridimensiona automaticamente la toolbar se i bottoni sono troppi e vanno "a capo". Bug T25943 */
.wikiEditor-ui-toolbar .group {
	height: auto !important;
}
/* modifica di style poem per utilizzare il template Al: test in I tre tiranni */
.padded .poem {
	position:relative;
	margin-left:0;
	padding-left:2em;
}

/* stile paragrafo per visualizzatore (raccomandazione di Silvio)*/
.fronte p, .retro p {margin:0;}

/* da mul.source e en.source */
.tiInherit p {
	text-indent:inherit;
}