/* add infobox css */
.mw-inputbox-centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.mw-inputbox-inline {
	display: inline;
}

.mw-inputbox-element {
	/* important is needed to overwrite display:table from mw-ui checkbox */
	display: inline-table !important;
	white-space: nowrap;
}

.mw-inputbox-input {
	margin-bottom: 0.5em;
}

/*XOWA:ext.cite.styles.css*/
.mw-cite-backlink,
.cite-accessibility-label {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mw-references-columns {
	-webkit-column-width: 30em;
	-moz-column-width: 30em;
	column-width: 30em;
}

/* Avoid elements from breaking between columns */
.mw-references-columns li {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
}

sup.reference {
	/* Isolation to fix references in case of RTL words at the end of a reference */
	unicode-bidi: -moz-isolate;
	unicode-bidi: -webkit-isolate;
	unicode-bidi: isolate;

	/* Don't allow a reference that includes a group name
	to break in the end of the line */
	white-space: nowrap;
}

/* Highlight clicked reference in blue to help navigation */
ol.references li:target,
sup.reference:target {
	background-color: #eaf3ff;
}

/* Make cite errors "strong" */
.mw-ext-cite-error {
	font-weight: bold;
	/* For the case that the error is embedded in an element with a different direction */
	unicode-bidi: embed;
}

/*        ext.inputBox.styles */
.mw-inputbox-centered{margin-left:auto;margin-right:auto;text-align:center}
.mw-inputbox-inline{display:inline}
.mw-inputbox-element{display:inline-table !important;white-space:nowrap}
.mw-inputbox-input{margin-bottom:0.5em}

/*        mediawiki.toc.styles */
.toctogglecheckbox:checked ~ ul{display:none}
@media screen{:not(:checked) > .toctogglecheckbox{display:inline !important;position:absolute;opacity:0}
.toctogglespan{font-size:94%}
:not(:checked) > .toctogglespan:before{content:' ['}
:not(:checked) > .toctogglespan:after{content:']'}
.toctogglelabel{cursor:pointer;color:#0645ad}
.toctogglelabel:hover{text-decoration:underline}
.toctogglecheckbox:focus + .toctitle .toctogglelabel{text-decoration:underline;outline:dotted 1px;outline:auto -webkit-focus-ring-color}
.toctogglecheckbox:checked + .toctitle .toctogglelabel:after{content:'show'}
.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after{content:'hide'}
.toctogglespan ~ .toctoggle{display:none}
}
@media print{.toctogglecheckbox:checked + .toctitle{display:none}
}

/* some of D:\des\mediawiki\resources\src\mediawiki.ui\components\buttons.less */
.mw-ui-button{background-color:#f8f9fa;color:#222222;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:4em;max-width:28.75em;margin:0;padding:0.546875em 1em;border:1px solid #a2a9b1;border-radius:2px;font-family:inherit;font-size:1em;font-weight:bold;line-height:1.286;text-align:center;-webkit-appearance:none;*display:inline;zoom:1;vertical-align:middle;cursor:pointer}
.mw-ui-button:visited{color:#222222}
.mw-ui-button:hover{background-color:#ffffff;color:#444444;border-color:#a2a9b1}
.mw-ui-button:focus{background-color:#ffffff;color:#222222;border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;outline-width:0}
.mw-ui-button:focus::-moz-focus-inner{border-color:transparent;padding:0}
.mw-ui-button:active,.mw-ui-button.is-on{background-color:#c8ccd1;color:#000000;border-color:#72777d;box-shadow:none}
.mw-ui-button:disabled,.mw-ui-button.mw-ui-quiet.mw-ui-progressive,.mw-ui-button.mw-ui-quiet.mw-ui-destructive{background-color:#c8ccd1;color:#ffffff;border-color:#c8ccd1;cursor:default}
.mw-ui-button:disabled:hover,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:hover,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:hover,.mw-ui-button:disabled:active,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:active,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:active{background-color:#c8ccd1;color:#ffffff;box-shadow:none;border-color:#c8ccd1}
.mw-ui-button:not(:disabled){-webkit-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;-moz-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms}
.mw-ui-button.mw-ui-quiet{background-color:transparent;color:#222222;border-color:transparent}
.mw-ui-button.mw-ui-quiet:hover{background-color:transparent;color:#444444;border-color:transparent;box-shadow:none}
.mw-ui-button.mw-ui-quiet:active{background-color:transparent;color:#000000;border-color:transparent}
.mw-ui-button.mw-ui-quiet:focus{background-color:transparent;color:#222222;border-color:transparent;box-shadow:none}
.mw-ui-button.mw-ui-quiet:disabled{background-color:transparent;color:#c8ccd1;border-color:transparent}
.mw-ui-button.mw-ui-progressive{background-color:#3366cc;color:#fff;border:1px solid #3366cc}
.mw-ui-button.mw-ui-progressive:hover{background-color:#447ff5;border-color:#447ff5}
.mw-ui-button.mw-ui-progressive:focus{box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff}
.mw-ui-button.mw-ui-progressive:active,.mw-ui-button.mw-ui-progressive.is-on{background-color:#2a4b8d;border-color:#2a4b8d;box-shadow:none}
.mw-ui-button.mw-ui-progressive:disabled{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1}
.mw-ui-button.mw-ui-progressive:disabled:hover,.mw-ui-button.mw-ui-progressive:disabled:active{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1;box-shadow:none}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet{color:#3366cc}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:hover{background-color:transparent;color:#447ff5}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:active{color:#2a4b8d}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:focus{background-color:transparent;color:#3366cc}
.mw-ui-button.mw-ui-destructive{background-color:#dd3333;color:#fff;border:1px solid #dd3333}
.mw-ui-button.mw-ui-destructive:hover{background-color:#ff4242;border-color:#ff4242}
.mw-ui-button.mw-ui-destructive:focus{box-shadow:inset 0 0 0 1px #dd3333,inset 0 0 0 2px #ffffff}
.mw-ui-button.mw-ui-destructive:active,.mw-ui-button.mw-ui-destructive.is-on{background-color:#b32424;border-color:#b32424;box-shadow:none}
.mw-ui-button.mw-ui-destructive:disabled{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1}
.mw-ui-button.mw-ui-destructive:disabled:hover,.mw-ui-button.mw-ui-destructive:disabled:active{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1;box-shadow:none}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet{color:#dd3333}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:hover{background-color:transparent;color:#ff4242}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:active{color:#b32424}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:focus{background-color:transparent;color:#dd3333}
.mw-ui-button.mw-ui-big{font-size:1.3em}
.mw-ui-button.mw-ui-block{display:block;width:100%;margin-left:auto;margin-right:auto}
input.mw-ui-button::-moz-focus-inner,button.mw-ui-button::-moz-focus-inner{margin-top:-1px;margin-bottom:-1px}
a.mw-ui-button{text-decoration:none}
a.mw-ui-button:hover,a.mw-ui-button:focus{text-decoration:none}
.mw-ui-button-group > *{min-width:48px;border-radius:0;float:left}
.mw-ui-button-group > *:first-child{border-top-left-radius:2px;border-bottom-left-radius:2px}
.mw-ui-button-group > *:not(:first-child){border-left:0}
.mw-ui-button-group > *:last-child{border-top-right-radius:2px;border-bottom-right-radius:2px}
.mw-ui-button-group .is-on .button{cursor:default}

/* some of d:\des\mediawiki\resources\src\mediawiki.ui\components\inputs.less */
.mw-ui-input{background-color:#fff;color:#000000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;width:100%;border:1px solid #a2a9b1;border-radius:2px;padding:0.57142857em 0.57142857em 0.5em;box-shadow:inset 0 0 0 0.1em #fff;font-family:inherit;font-size:inherit;line-height:1.07142857em;vertical-align:middle}
.mw-ui-input::-webkit-input-placeholder{color:#72777d;opacity:1}
.mw-ui-input:-ms-input-placeholder{color:#72777d;opacity:1}
.mw-ui-input::-moz-placeholder{color:#72777d;opacity:1}
.mw-ui-input:-moz-placeholder{color:#72777d;opacity:1}
.mw-ui-input::placeholder{color:#72777d;opacity:1}
.mw-ui-input:invalid{box-shadow:none}
.mw-ui-input:hover{border-color:#72777d}
.mw-ui-input:focus{border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc;outline:0}
.mw-ui-input:not(:disabled){-webkit-transition:color 100ms,border-color 100ms,box-shadow 100ms;-moz-transition:color 100ms,border-color 100ms,box-shadow 100ms;transition:color 100ms,border-color 100ms,box-shadow 100ms}
.mw-ui-input:disabled{border-color:#eaecf0;color:#c8ccd1}
.mw-ui-input[type='search']{-webkit-appearance:textfield}
.mw-ui-input[type='search']::-ms-clear{display:none}
.mw-ui-input[type='search']::-webkit-search-cancel-button,.mw-ui-input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
textarea.mw-ui-input{min-height:8em}
.mw-ui-input-inline{display:inline-block;width:auto;max-width:100%}
.mw-ui-input-large{margin-top:0;margin-bottom:0}
.mw-ui-input-large + .mw-ui-input-large{margin-top:-1px}
.mw-ui-input-large:focus{position:relative}
input.mw-ui-input-large{font-size:1.75em;font-weight:bold;line-height:1.25em;padding:0.3673em 0.3265em 0.3265em}


.mw-3d-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top
}

.mw-3d-wrapper:after {
    content: attr(data-label);
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 11px;
    color: #1e1f21;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    opacity: 0.8;
    padding: 2px 5px;
    background-color: #f8f9fa;
    border-radius: 2px
}

.mw-3d-thumb-placeholder {
    display: inline-block;
    text-decoration: none;
    color: #222
}

.mw-cite-backlink,.cite-accessibility-label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mw-references-columns {
    -webkit-column-width: 30em;
    -moz-column-width: 30em;
    column-width: 30em
}

.mw-references-columns li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column
}

sup.reference {
    unicode-bidi: -moz-isolate;
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
    white-space: nowrap;
    font-weight: normal;
    font-style: normal
}

ol.references li:target,sup.reference:target {
    background-color: #eaf3ff
}

.mw-ext-cite-error {
    font-weight: bold;
    unicode-bidi: embed
}

.mw-cite-dir-ltr .reference-text {
    direction: ltr;
    unicode-bidi: embed
}

.mw-cite-dir-rtl .reference-text {
    direction: rtl;
    unicode-bidi: embed
}

@media print {
    .mw-cite-backlink {
        display: none
    }
}

/* timeline stuff 20190214 */
.timeline-wrapper {
    max-width: 100%;
    overflow: auto
}

.timeline-error {
    font-family: monospace;
    font-size: 17px
}

@font-face {
    font-family: 'KulminoituvaRegular';
    /*src: url('http://www.miketaylr.com/f/kulminoituva.ttf');*/
    src: url('//www.xowa.com/fsys/bin/any/font/www.miketaylr.com/f/kulminoituva.ttf');
}
@font-face {
    font-family: 'Phetsarath-Regular';
    src: url('//www.xowa.com/fsys/bin/any/xowa/html/res/lib/ext/data/fontrepo/fonts/Phetsarath/Phetsarath-Regular.eot');
    src: url('//www.xowa.com/fsys/bin/any/xowa/html/res/lib/ext/data/fontrepo/fonts/Phetsarath/Phetsarath-Regular.eot?#iefix') format('embedded-opentype'),
         url('//www.xowa.com/fsys/bin/any/xowa/html/res/lib/ext/data/fontrepo/fonts/Phetsarath/Phetsarath-Regular.woff') format('woff'),
         url('//www.xowa.com/fsys/bin/any/xowa/html/res/lib/ext/data/fontrepo/fonts/Phetsarath/Phetsarath-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Code New Roman';
    src: 
         url('//www.xowa.com/fsys/bin/any/xowa/html/res/lib/myfonts/Code New Roman/Code New Roman.woff') format('woff')
    font-weight: normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Lobster);
/*@import url(http://fonts.googleapis.com/css?family=Lobster);*/

/* not sure wherethis comes from - but needed for popups to show icons */
.mw-editfont-monospace{font-family:monospace,monospace}.mw-editfont-sans-serif{font-family:sans-serif}.mw-editfont-serif{font-family:serif} .mw-editfont-monospace,.mw-editfont-sans-serif,.mw-editfont-serif{font-size:13px; }.mw-editfont-monospace.oo-ui-textInputWidget,.mw-editfont-sans-serif.oo-ui-textInputWidget,.mw-editfont-serif.oo-ui-textInputWidget{font-size:inherit}.mw-editfont-monospace > .oo-ui-inputWidget-input,.mw-editfont-sans-serif > .oo-ui-inputWidget-input,.mw-editfont-serif > .oo-ui-inputWidget-input{font-size:13px}
.mw-ui-button{background-color:#f8f9fa;color:#222222;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:4em;max-width:28.75em;margin:0;padding:0.57142857em 0.9375em;border:1px solid #a2a9b1;border-radius:2px;cursor:pointer;vertical-align:middle;font-family:inherit;font-size:1em;font-weight:bold;line-height:1;text-align:center;-webkit-appearance:none}.mw-ui-button:visited{color:#222222}.mw-ui-button:hover{background-color:#ffffff;color:#444444;border-color:#a2a9b1}.mw-ui-button:focus{background-color:#ffffff;color:#222222;border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;outline-width:0}.mw-ui-button:focus::-moz-focus-inner{border-color:transparent;padding:0}.mw-ui-button:active,.mw-ui-button.is-on{background-color:#c8ccd1;color:#000000;border-color:#72777d;box-shadow:none}.mw-ui-button:disabled{background-color:#c8ccd1;color:#ffffff;border-color:#c8ccd1;cursor:default}.mw-ui-button:disabled:hover,.mw-ui-button:disabled:active{background-color:#c8ccd1;color:#ffffff;box-shadow:none;border-color:#c8ccd1}.mw-ui-button:not(:disabled){-webkit-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;-moz-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms}.mw-ui-button.mw-ui-quiet,.mw-ui-button.mw-ui-quiet.mw-ui-progressive,.mw-ui-button.mw-ui-quiet.mw-ui-destructive{background-color:transparent;color:#222222;border-color:transparent}.mw-ui-button.mw-ui-quiet:hover,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:hover,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:hover{background-color:transparent;color:#444444;border-color:transparent;box-shadow:none}.mw-ui-button.mw-ui-quiet:active,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:active,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:active{background-color:transparent;color:#000000;border-color:transparent}.mw-ui-button.mw-ui-quiet:focus,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:focus,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:focus{background-color:transparent;color:#222222;border-color:transparent;box-shadow:none}.mw-ui-button.mw-ui-quiet:disabled,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:disabled,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:disabled,.mw-ui-button.mw-ui-quiet:disabled:hover,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:disabled:hover,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:disabled:hover,.mw-ui-button.mw-ui-quiet:disabled:active,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:disabled:active,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:disabled:active{background-color:transparent;color:#72777d;border-color:transparent}.mw-ui-button.mw-ui-progressive{background-color:#3366cc;color:#fff;border:1px solid #3366cc}.mw-ui-button.mw-ui-progressive:hover{background-color:#447ff5;border-color:#447ff5}.mw-ui-button.mw-ui-progressive:focus{box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff}.mw-ui-button.mw-ui-progressive:active,.mw-ui-button.mw-ui-progressive.is-on{background-color:#2a4b8d;border-color:#2a4b8d;box-shadow:none}.mw-ui-button.mw-ui-progressive:disabled{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1}.mw-ui-button.mw-ui-progressive:disabled:hover,.mw-ui-button.mw-ui-progressive:disabled:active{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1;box-shadow:none}.mw-ui-button.mw-ui-progressive.mw-ui-quiet{color:#3366cc}.mw-ui-button.mw-ui-progressive.mw-ui-quiet:hover{background-color:transparent;color:#447ff5}.mw-ui-button.mw-ui-progressive.mw-ui-quiet:active{color:#2a4b8d}.mw-ui-button.mw-ui-progressive.mw-ui-quiet:focus{background-color:transparent;color:#3366cc}.mw-ui-button.mw-ui-destructive{background-color:#dd3333;color:#fff;border:1px solid #dd3333}.mw-ui-button.mw-ui-destructive:hover{background-color:#ff4242;border-color:#ff4242}.mw-ui-button.mw-ui-destructive:focus{box-shadow:inset 0 0 0 1px #dd3333,inset 0 0 0 2px #ffffff}.mw-ui-button.mw-ui-destructive:active,.mw-ui-button.mw-ui-destructive.is-on{background-color:#b32424;border-color:#b32424;box-shadow:none}.mw-ui-button.mw-ui-destructive:disabled{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1}.mw-ui-button.mw-ui-destructive:disabled:hover,.mw-ui-button.mw-ui-destructive:disabled:active{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1;box-shadow:none}.mw-ui-button.mw-ui-destructive.mw-ui-quiet{color:#dd3333}.mw-ui-button.mw-ui-destructive.mw-ui-quiet:hover{background-color:transparent;color:#ff4242}.mw-ui-button.mw-ui-destructive.mw-ui-quiet:active{color:#b32424}.mw-ui-button.mw-ui-destructive.mw-ui-quiet:focus{background-color:transparent;color:#dd3333}.mw-ui-button.mw-ui-big{font-size:1.3em}.mw-ui-button.mw-ui-block{display:block;width:100%;margin-left:auto;margin-right:auto}input.mw-ui-button::-moz-focus-inner,button.mw-ui-button::-moz-focus-inner{margin-top:-1px;margin-bottom:-1px}a.mw-ui-button{text-decoration:none}a.mw-ui-button:hover,a.mw-ui-button:focus{text-decoration:none}.mw-ui-button-group > *{min-width:48px;border-radius:0;float:left}.mw-ui-button-group > *:first-child{border-top-left-radius:2px;border-bottom-left-radius:2px}.mw-ui-button-group > *:not(:first-child){border-left:0}.mw-ui-button-group > *:last-child{border-top-right-radius:2px;border-bottom-right-radius:2px}.mw-ui-button-group .is-on .button{cursor:default}
.mw-ui-icon{position:relative;line-height:1.5em;min-height:1.5em;min-width:1.5em}span.mw-ui-icon{display:inline-block}.mw-ui-icon.mw-ui-icon-element{text-indent:-999px;overflow:hidden;width:3.5em;min-width:3.5em;max-width:3.5em}.mw-ui-icon.mw-ui-icon-element:before{left:0;right:0;position:absolute;margin:0 1em}.mw-ui-icon.mw-ui-icon-element.mw-ui-icon-large{width:4.625em;min-width:4.625em;max-width:4.625em;line-height:4.625em;min-height:4.625em}.mw-ui-icon.mw-ui-icon-element.mw-ui-icon-large:before{min-height:4.625em}.mw-ui-icon.mw-ui-icon-before:before,.mw-ui-icon.mw-ui-icon-element:before{background-position:50% 50%;background-repeat:no-repeat;background-size:100% auto;float:left;display:block;min-height:1.5em;content:''}.mw-ui-icon.mw-ui-icon-before:before{position:relative;width:1.5em;margin-right:1em}.mw-ui-icon.mw-ui-icon-small:before{background-size:66.67% auto}
.ve-init-mw-progressBarWidget{height:1em;overflow:hidden;margin:0 25%}.ve-init-mw-progressBarWidget-bar{height:1em;width:0} .ve-init-mw-progressBarWidget{height:0.75em;border:1px solid #36c;background:#fff;border-radius:2px;box-shadow:0 0.1em 0 0 rgba(0,0,0,0.15)}.ve-init-mw-progressBarWidget-bar{height:0.75em;background:#36c}
.rt-tooltip{position:absolute;z-index:100;max-width:350px;background:#fff;color:#222;font-size:13px;line-height:1.5em;border:1px solid #c8ccd1;border-radius:3px;box-shadow:0 15px 45px -10px rgba(0,0,0,0.3);overflow-wrap:break-word}.rt-tooltip.rt-tooltip-insideWindow{z-index:110}.rt-tooltipContent{padding:8px 11px}.rt-tooltip-above .rt-tooltipContent{margin-bottom:-8px;padding-bottom:16px}.rt-tooltip-below .rt-tooltipContent{margin-top:-10px;padding-top:18px}.rt-tooltipTail,.rt-tooltipTail:after{position:absolute;width:12px;height:12px}.rt-tooltipTail{background:#c8ccd1;background:-webkit-linear-gradient(bottom left,#c8ccd1 50%,rgba(0,0,0,0) 50%);background:linear-gradient(to top right,#c8ccd1 50%,rgba(0,0,0,0) 50%)}.rt-tooltipTail:after{content:"";background:#fff;bottom:1px;left:1px}.rt-tooltip-above .rt-tooltipTail{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;bottom:0;left:15px}.rt-tooltip-below .rt-tooltipTail{-webkit-transform:rotate(135deg);transform:rotate(135deg);-webkit-transform-origin:0 0;transform-origin:0 0;top:0;left:27px}.rt-settingsLink{background-image:linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%20%20%3Cpath%20fill%3D%22%23555%22%20d%3D%22M20%2014.5v-2.9l-1.8-.3c-.1-.4-.3-.8-.6-1.4l1.1-1.5-2.1-2.1-1.5%201.1c-.5-.3-1-.5-1.4-.6L13.5%205h-2.9l-.3%201.8c-.5.1-.9.3-1.4.6L7.4%206.3%205.3%208.4l1%201.5c-.3.5-.4.9-.6%201.4l-1.7.2v2.9l1.8.3c.1.5.3.9.6%201.4l-1%201.5%202.1%202.1%201.5-1c.4.2.9.4%201.4.6l.3%201.8h3l.3-1.8c.5-.1.9-.3%201.4-.6l1.5%201.1%202.1-2.1-1.1-1.5c.3-.5.5-1%20.6-1.4l1.5-.3zM12%2016c-1.7%200-3-1.3-3-3s1.3-3%203-3%203%201.3%203%203-1.3%203-3%203z%22%2F%3E%0D%0A%3C%2Fsvg%3E);float:right;cursor:pointer;margin:-4px -4px 0 8px;height:24px;width:24px;border-radius:2px;background-position:center center;background-repeat:no-repeat;background-size:24px 24px}.rt-settingsLink:hover{background-color:#eee}.rt-target{background-color:#def}.rt-enableSelect{font-weight:bold}.rt-settingsFormSeparator{margin:0.85714286em 0}.rt-numberInput.rt-numberInput{width:150px}.rt-tooltipsForCommentsField.rt-tooltipsForCommentsField.rt-tooltipsForCommentsField{margin-top:1.64285714em}.rt-disabledHelp{border-collapse:collapse}.rt-disabledHelp td{padding:0}.rt-disabledNote.rt-disabledNote{vertical-align:bottom;padding-left:0.36em;font-weight:bold}@-webkit-keyframes rt-fade-in-up{0%{opacity:0;-webkit-transform:translate(0,20px);-moz-transform:translate(0,20px);transform:translate(0,20px) }100%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }}@-moz-keyframes rt-fade-in-up{0%{opacity:0;-webkit-transform:translate(0,20px);-moz-transform:translate(0,20px);transform:translate(0,20px) }100%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }}@keyframes rt-fade-in-up{0%{opacity:0;-webkit-transform:translate(0,20px);-moz-transform:translate(0,20px);transform:translate(0,20px) }100%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }}@-webkit-keyframes rt-fade-in-down{0%{opacity:0;-webkit-transform:translate(0,-20px);-moz-transform:translate(0,-20px);transform:translate(0,-20px) }100%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }}@-moz-keyframes rt-fade-in-down{0%{opacity:0;-webkit-transform:translate(0,-20px);-moz-transform:translate(0,-20px);transform:translate(0,-20px) }100%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }}@keyframes rt-fade-in-down{0%{opacity:0;-webkit-transform:translate(0,-20px);-moz-transform:translate(0,-20px);transform:translate(0,-20px) }100%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }}@-webkit-keyframes rt-fade-out-down{0%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }100%{opacity:0;-webkit-transform:translate(0,20px);-moz-transform:translate(0,20px);transform:translate(0,20px) }}@-moz-keyframes rt-fade-out-down{0%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }100%{opacity:0;-webkit-transform:translate(0,20px);-moz-transform:translate(0,20px);transform:translate(0,20px) }}@keyframes rt-fade-out-down{0%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }100%{opacity:0;-webkit-transform:translate(0,20px);-moz-transform:translate(0,20px);transform:translate(0,20px) }}@-webkit-keyframes rt-fade-out-up{0%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }100%{opacity:0;-webkit-transform:translate(0,-20px);-moz-transform:translate(0,-20px);transform:translate(0,-20px) }}@-moz-keyframes rt-fade-out-up{0%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }100%{opacity:0;-webkit-transform:translate(0,-20px);-moz-transform:translate(0,-20px);transform:translate(0,-20px) }}@keyframes rt-fade-out-up{0%{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0) }100%{opacity:0;-webkit-transform:translate(0,-20px);-moz-transform:translate(0,-20px);transform:translate(0,-20px) }}.rt-fade-in-up{-webkit-animation:rt-fade-in-up 0.2s ease forwards;-moz-animation:rt-fade-in-up 0.2s ease forwards;animation:rt-fade-in-up 0.2s ease forwards }.rt-fade-in-down{-webkit-animation:rt-fade-in-down 0.2s ease forwards;-moz-animation:rt-fade-in-down 0.2s ease forwards;animation:rt-fade-in-down 0.2s ease forwards }.rt-fade-out-down{-webkit-animation:rt-fade-out-down 0.2s ease forwards;-moz-animation:rt-fade-out-down 0.2s ease forwards;animation:rt-fade-out-down 0.2s ease forwards }.rt-fade-out-up{-webkit-animation:rt-fade-out-up 0.2s ease forwards;-moz-animation:rt-fade-out-up 0.2s ease forwards;animation:rt-fade-out-up 0.2s ease forwards }
@media screen {
	.tochidden,.toctoggle{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.toctoggle{font-size:94%}}
@media print {
	.toc.tochidden,.toctoggle{display:none}}
@-webkit-keyframes centralAuthPPersonalAnimation{0%{opacity:0;-webkit-transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes centralAuthPPersonalAnimation{0%{opacity:0;-moz-transform:translateY(-20px)}100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes centralAuthPPersonalAnimation{0%{opacity:0;-o-transform:translateY(-20px)}100%{opacity:1;-o-transform:translateY(0)}}@keyframes centralAuthPPersonalAnimation{0%{opacity:0;transform:translateY(-20px)}100%{opacity:1;transform:translateY(0)}}.centralAuthPPersonalAnimation{-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-name:centralAuthPPersonalAnimation;-moz-animation-name:centralAuthPPersonalAnimation;-o-animation-name:centralAuthPPersonalAnimation;animation-name:centralAuthPPersonalAnimation}
.uls-menu{border-radius:2px; font-size:medium}.uls-search,.uls-language-settings-close-block{border-top-right-radius:2px;border-top-left-radius:2px}.uls-language-list{border-bottom-right-radius:2px;border-bottom-left-radius:2px}.uls-menu.callout:before,.uls-menu.callout:after{border-top:10px solid transparent;border-bottom:10px solid transparent;display:inline-block; top:17px;position:absolute;content:''}.uls-menu.callout.selector-right:before{ border-left:10px solid #c8ccd1; right:-11px}.uls-menu.callout.selector-right:after{ border-left:10px solid #fff; right:-10px}.uls-menu.callout.selector-left:before{ border-right:10px solid #c8ccd1; left:-11px}.uls-menu.callout.selector-left:after{ border-right:10px solid #fff; left:-10px}.uls-ui-languages button{margin:5px 15px 5px 0;white-space:nowrap;overflow:hidden}.uls-search-wrapper-wrapper{position:relative;padding-left:40px;margin-top:5px;margin-bottom:5px}.uls-icon-back{background:transparent url(/w/extensions/UniversalLanguageSelector/resources/images/back-grey-ltr.png?90e9b) no-repeat scroll center center;background-image:linear-gradient(transparent,transparent),url(/w/extensions/UniversalLanguageSelector/resources/images/back-grey-ltr.svg?e226b);background-size:28px;background-position:center center;height:32px;width:40px;display:block;position:absolute;left:0;border-right:1px solid #c8ccd1;opacity:0.8}.uls-icon-back:hover{opacity:1;cursor:pointer}.uls-menu .uls-no-results-view .uls-no-found-more{background-color:#fff}.uls-menu .uls-no-results-view h3{padding:0 28px;margin:0;color:#54595d;font-size:1em;font-weight:normal}  .skin-vector .uls-menu{border-color:#c8ccd1;-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.25);box-shadow:0 2px 2px 0 rgba(0,0,0,0.25);font-size:0.875em}.skin-vector .uls-search{border-bottom-color:#c8ccd1}.skin-vector .uls-search-label{opacity:0.51;-webkit-transition:opacity 250ms;-moz-transition:opacity 250ms;transition:opacity 250ms}.skin-vector .uls-search-wrapper:hover .uls-search-label{opacity:0.87}.skin-vector .uls-filtersuggestion{color:#72777d}.skin-vector .uls-lcd-region-title{color:#54595d}
.cite-accessibility-label{ top:-99999px;clip:rect(1px,1px,1px,1px); position:absolute !important;padding:0 !important;border:0 !important;height:1px !important;width:1px !important; overflow:hidden}:target .mw-cite-targeted-backlink{font-weight:bold}.mw-cite-up-arrow-backlink{display:none}:target .mw-cite-up-arrow-backlink{display:inline}:target .mw-cite-up-arrow{display:none}
@media print{#centralNotice{display:none}}.cn-closeButton{display:inline-block;zoom:1;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAAQEBDPz88AAABAQEDv7+9oe1vvAAAABnRSTlMA3rLe3rJS22KzAAAARElEQVQI12PAAUIUQCSTK5BwFgIxFU1AhKECUFAYKAAioXwwBeZChMGCEGGQIFQYJohgIhQgtCEMQ7ECYTHCOciOxA4AADgJTXIb9s8AAAAASUVORK5CYII=) no-repeat;width:20px;height:20px;text-indent:20px;white-space:nowrap;overflow:hidden}

/* mediawiki.action.view.redirectPage.css */
.redirectMsg p{overflow:hidden;height:0}.redirectText{list-style:none none;display:inline;margin:0 !important;padding:0 !important}.mw-content-ltr .redirectText li{display:inline;margin:0;padding:0;padding-left:42px;background:transparent url(//www.xowa.com/xowa/fsys/bin/any/xowa/mediawiki.action/images/nextredirect-ltr.png) bottom left no-repeat;background-image:linear-gradient(transparent,transparent),url(//www.xowa.com/xowa/fsys/bin/any/xowa/mediawiki.action/images/nextredirect-ltr.svg)}.mw-content-ltr .redirectText li:first-child{padding-left:47px;background:transparent url(//www.xowa.com/xowa/fsys/bin/any/xowa/mediawiki.action/images/redirect-ltr.png) bottom left no-repeat;background-image:linear-gradient(transparent,transparent),url(//www.xowa.com/xowa/fsys/bin/any/xowa/mediawiki.action/images/redirect-ltr.svg)}.mw-content-rtl .redirectText li{display:inline;margin:0;padding:0;padding-right:42px;background:transparent url(//www.xowa.com/xowa/fsys/bin/any/xowa/mediawiki.action/images/nextredirect-rtl.png) bottom right no-repeat;background-image:linear-gradient(transparent,transparent),url(//www.xowa.com/xowa/fsys/bin/any/xowa/mediawiki.action/images/nextredirect-rtl.svg)}.mw-content-rtl .redirectText li:first-child{padding-right:47px;background:transparent url(//www.xowa.com/xowa/fsys/bin/any/xowa/mediawiki.action/images/redirect-rtl.png) bottom right no-repeat;background-image:linear-gradient(transparent,transparent),url(//www.xowa.com/xowa/fsys/bin/any/xowa/mediawiki.action/images/redirect-rtl.svg)}.redirectText{font-size:140%}.redirectMsg p{margin:0}
