/* add infobox css */
.mw-inputbox-centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.mw-inputbox-inline {
	display: inline;
}

.mw-inputbox-element {
	/* important is needed to overwrite display:table from mw-ui checkbox */
	display: inline-table !important;
	white-space: nowrap;
}

.mw-inputbox-input {
	margin-bottom: 0.5em;
}

/*XOWA:ext.cite.styles.css*/
.mw-cite-backlink,
.cite-accessibility-label {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mw-references-columns {
	-webkit-column-width: 30em;
	-moz-column-width: 30em;
	column-width: 30em;
}

/* Avoid elements from breaking between columns */
.mw-references-columns li {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
}

sup.reference {
	/* Isolation to fix references in case of RTL words at the end of a reference */
	unicode-bidi: -moz-isolate;
	unicode-bidi: -webkit-isolate;
	unicode-bidi: isolate;

	/* Don't allow a reference that includes a group name
	to break in the end of the line */
	white-space: nowrap;
}

/* Highlight clicked reference in blue to help navigation */
ol.references li:target,
sup.reference:target {
	background-color: #eaf3ff;
}

/* Make cite errors "strong" */
.mw-ext-cite-error {
	font-weight: bold;
	/* For the case that the error is embedded in an element with a different direction */
	unicode-bidi: embed;
}

/*        ext.inputBox.styles */
.mw-inputbox-centered{margin-left:auto;margin-right:auto;text-align:center}
.mw-inputbox-inline{display:inline}
.mw-inputbox-element{display:inline-table !important;white-space:nowrap}
.mw-inputbox-input{margin-bottom:0.5em}

/*        mediawiki.toc.styles */
.toctogglecheckbox:checked ~ ul{display:none}
@media screen{:not(:checked) > .toctogglecheckbox{display:inline !important;position:absolute;opacity:0}
.toctogglespan{font-size:94%}
:not(:checked) > .toctogglespan:before{content:' ['}
:not(:checked) > .toctogglespan:after{content:']'}
.toctogglelabel{cursor:pointer;color:#0645ad}
.toctogglelabel:hover{text-decoration:underline}
.toctogglecheckbox:focus + .toctitle .toctogglelabel{text-decoration:underline;outline:dotted 1px;outline:auto -webkit-focus-ring-color}
.toctogglecheckbox:checked + .toctitle .toctogglelabel:after{content:'show'}
.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after{content:'hide'}
.toctogglespan ~ .toctoggle{display:none}
}
@media print{.toctogglecheckbox:checked + .toctitle{display:none}
}

/* some of D:\des\mediawiki\resources\src\mediawiki.ui\components\buttons.less */
.mw-ui-button{background-color:#f8f9fa;color:#222222;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:4em;max-width:28.75em;margin:0;padding:0.546875em 1em;border:1px solid #a2a9b1;border-radius:2px;font-family:inherit;font-size:1em;font-weight:bold;line-height:1.286;text-align:center;-webkit-appearance:none;*display:inline;zoom:1;vertical-align:middle;cursor:pointer}
.mw-ui-button:visited{color:#222222}
.mw-ui-button:hover{background-color:#ffffff;color:#444444;border-color:#a2a9b1}
.mw-ui-button:focus{background-color:#ffffff;color:#222222;border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;outline-width:0}
.mw-ui-button:focus::-moz-focus-inner{border-color:transparent;padding:0}
.mw-ui-button:active,.mw-ui-button.is-on{background-color:#c8ccd1;color:#000000;border-color:#72777d;box-shadow:none}
.mw-ui-button:disabled,.mw-ui-button.mw-ui-quiet.mw-ui-progressive,.mw-ui-button.mw-ui-quiet.mw-ui-destructive{background-color:#c8ccd1;color:#ffffff;border-color:#c8ccd1;cursor:default}
.mw-ui-button:disabled:hover,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:hover,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:hover,.mw-ui-button:disabled:active,.mw-ui-button.mw-ui-quiet.mw-ui-progressive:active,.mw-ui-button.mw-ui-quiet.mw-ui-destructive:active{background-color:#c8ccd1;color:#ffffff;box-shadow:none;border-color:#c8ccd1}
.mw-ui-button:not(:disabled){-webkit-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;-moz-transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;transition:background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms}
.mw-ui-button.mw-ui-quiet{background-color:transparent;color:#222222;border-color:transparent}
.mw-ui-button.mw-ui-quiet:hover{background-color:transparent;color:#444444;border-color:transparent;box-shadow:none}
.mw-ui-button.mw-ui-quiet:active{background-color:transparent;color:#000000;border-color:transparent}
.mw-ui-button.mw-ui-quiet:focus{background-color:transparent;color:#222222;border-color:transparent;box-shadow:none}
.mw-ui-button.mw-ui-quiet:disabled{background-color:transparent;color:#c8ccd1;border-color:transparent}
.mw-ui-button.mw-ui-progressive{background-color:#3366cc;color:#fff;border:1px solid #3366cc}
.mw-ui-button.mw-ui-progressive:hover{background-color:#447ff5;border-color:#447ff5}
.mw-ui-button.mw-ui-progressive:focus{box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff}
.mw-ui-button.mw-ui-progressive:active,.mw-ui-button.mw-ui-progressive.is-on{background-color:#2a4b8d;border-color:#2a4b8d;box-shadow:none}
.mw-ui-button.mw-ui-progressive:disabled{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1}
.mw-ui-button.mw-ui-progressive:disabled:hover,.mw-ui-button.mw-ui-progressive:disabled:active{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1;box-shadow:none}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet{color:#3366cc}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:hover{background-color:transparent;color:#447ff5}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:active{color:#2a4b8d}
.mw-ui-button.mw-ui-progressive.mw-ui-quiet:focus{background-color:transparent;color:#3366cc}
.mw-ui-button.mw-ui-destructive{background-color:#dd3333;color:#fff;border:1px solid #dd3333}
.mw-ui-button.mw-ui-destructive:hover{background-color:#ff4242;border-color:#ff4242}
.mw-ui-button.mw-ui-destructive:focus{box-shadow:inset 0 0 0 1px #dd3333,inset 0 0 0 2px #ffffff}
.mw-ui-button.mw-ui-destructive:active,.mw-ui-button.mw-ui-destructive.is-on{background-color:#b32424;border-color:#b32424;box-shadow:none}
.mw-ui-button.mw-ui-destructive:disabled{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1}
.mw-ui-button.mw-ui-destructive:disabled:hover,.mw-ui-button.mw-ui-destructive:disabled:active{background-color:#c8ccd1;color:#fff;border-color:#c8ccd1;box-shadow:none}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet{color:#dd3333}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:hover{background-color:transparent;color:#ff4242}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:active{color:#b32424}
.mw-ui-button.mw-ui-destructive.mw-ui-quiet:focus{background-color:transparent;color:#dd3333}
.mw-ui-button.mw-ui-big{font-size:1.3em}
.mw-ui-button.mw-ui-block{display:block;width:100%;margin-left:auto;margin-right:auto}
input.mw-ui-button::-moz-focus-inner,button.mw-ui-button::-moz-focus-inner{margin-top:-1px;margin-bottom:-1px}
a.mw-ui-button{text-decoration:none}
a.mw-ui-button:hover,a.mw-ui-button:focus{text-decoration:none}
.mw-ui-button-group > *{min-width:48px;border-radius:0;float:left}
.mw-ui-button-group > *:first-child{border-top-left-radius:2px;border-bottom-left-radius:2px}
.mw-ui-button-group > *:not(:first-child){border-left:0}
.mw-ui-button-group > *:last-child{border-top-right-radius:2px;border-bottom-right-radius:2px}
.mw-ui-button-group .is-on .button{cursor:default}

/* some of d:\des\mediawiki\resources\src\mediawiki.ui\components\inputs.less */
.mw-ui-input{background-color:#fff;color:#000000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;width:100%;border:1px solid #a2a9b1;border-radius:2px;padding:0.57142857em 0.57142857em 0.5em;box-shadow:inset 0 0 0 0.1em #fff;font-family:inherit;font-size:inherit;line-height:1.07142857em;vertical-align:middle}
.mw-ui-input::-webkit-input-placeholder{color:#72777d;opacity:1}
.mw-ui-input:-ms-input-placeholder{color:#72777d;opacity:1}
.mw-ui-input::-moz-placeholder{color:#72777d;opacity:1}
.mw-ui-input:-moz-placeholder{color:#72777d;opacity:1}
.mw-ui-input::placeholder{color:#72777d;opacity:1}
.mw-ui-input:invalid{box-shadow:none}
.mw-ui-input:hover{border-color:#72777d}
.mw-ui-input:focus{border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc;outline:0}
.mw-ui-input:not(:disabled){-webkit-transition:color 100ms,border-color 100ms,box-shadow 100ms;-moz-transition:color 100ms,border-color 100ms,box-shadow 100ms;transition:color 100ms,border-color 100ms,box-shadow 100ms}
.mw-ui-input:disabled{border-color:#eaecf0;color:#c8ccd1}
.mw-ui-input[type='search']{-webkit-appearance:textfield}
.mw-ui-input[type='search']::-ms-clear{display:none}
.mw-ui-input[type='search']::-webkit-search-cancel-button,.mw-ui-input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
textarea.mw-ui-input{min-height:8em}
.mw-ui-input-inline{display:inline-block;width:auto;max-width:100%}
.mw-ui-input-large{margin-top:0;margin-bottom:0}
.mw-ui-input-large + .mw-ui-input-large{margin-top:-1px}
.mw-ui-input-large:focus{position:relative}
input.mw-ui-input-large{font-size:1.75em;font-weight:bold;line-height:1.25em;padding:0.3673em 0.3265em 0.3265em}


.mw-3d-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top
}

.mw-3d-wrapper:after {
    content: attr(data-label);
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 11px;
    color: #1e1f21;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    opacity: 0.8;
    padding: 2px 5px;
    background-color: #f8f9fa;
    border-radius: 2px
}

.mw-3d-thumb-placeholder {
    display: inline-block;
    text-decoration: none;
    color: #222
}

.mw-cite-backlink,.cite-accessibility-label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mw-references-columns {
    -webkit-column-width: 30em;
    -moz-column-width: 30em;
    column-width: 30em
}

.mw-references-columns li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column
}

sup.reference {
    unicode-bidi: -moz-isolate;
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
    white-space: nowrap;
    font-weight: normal;
    font-style: normal
}

ol.references li:target,sup.reference:target {
    background-color: #eaf3ff
}

.mw-ext-cite-error {
    font-weight: bold;
    unicode-bidi: embed
}

.mw-cite-dir-ltr .reference-text {
    direction: ltr;
    unicode-bidi: embed
}

.mw-cite-dir-rtl .reference-text {
    direction: rtl;
    unicode-bidi: embed
}

@media print {
    .mw-cite-backlink {
        display: none
    }
}

/* timeline stuff 20190214 */
.timeline-wrapper {
    max-width: 100%;
    overflow: auto
}

.timeline-error {
    font-family: monospace;
    font-size: 17px
}

@font-face {
    font-family: 'KulminoituvaRegular';
    /*src: url('http://www.miketaylr.com/f/kulminoituva.ttf');*/
    src: url('/fsys/bin/any/font/www.miketaylr.com/f/kulminoituva.ttf');
}
@font-face {
    font-family: 'Phetsarath-Regular';
    src: url('/fsys/bin/any/xowa/html/res/lib/ext/data/fontrepo/fonts/Phetsarath/Phetsarath-Regular.eot');
    src: url('/fsys/bin/any/xowa/html/res/lib/ext/data/fontrepo/fonts/Phetsarath/Phetsarath-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fsys/bin/any/xowa/html/res/lib/ext/data/fontrepo/fonts/Phetsarath/Phetsarath-Regular.woff') format('woff'),
         url('/fsys/bin/any/xowa/html/res/lib/ext/data/fontrepo/fonts/Phetsarath/Phetsarath-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Code New Roman';
    src: 
         url('/fsys/bin/any/xowa/html/res/lib/myfonts/Code New Roman/Code New Roman.woff') format('woff')
    font-weight: normal;
    font-style: normal;
}
/*@import url(http://fonts.googleapis.com/css?family=Lobster);*/
/* cyrillic-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('/fsys/bin/any/xowa/html/res/lib/myfonts/lobster/v28/neILzCirqoswsqX9zo-mM5Ez.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('/fsys/bin/any/xowa/html/res/lib/myfonts/lobster/v28/neILzCirqoswsqX9zoamM5Ez.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('/fsys/bin/any/xowa/html/res/lib/myfonts/lobster/v28/neILzCirqoswsqX9zo2mM5Ez.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('/fsys/bin/any/xowa/html/res/lib/myfonts/lobster/v28/neILzCirqoswsqX9zoymM5Ez.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('/fsys/bin/any/xowa/html/res/lib/myfonts/lobster/v28/neILzCirqoswsqX9zoKmMw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
